snapshots/jbSdXj5lpHRjl5HM/2026-03-23T02-20-58.json
{
  "snapshot_at": "2026-03-23T02:20:58.637Z",
  "reason": "Pre-modification snapshot: No reason provided",
  "session_id": "unknown-session",
  "workflow": {
    "name": "🎯 GTM Domain Agent",
    "id": "jbSdXj5lpHRjl5HM",
    "active": true,
    "nodes": [
      {
        "id": "6aca0034-851a-4c57-9b4e-386c291fff66",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          0
        ],
        "parameters": {
          "httpMethod": "POST",
          "path": "gtm-domain-agent",
          "authentication": "headerAuth",
          "responseMode": "responseNode",
          "options": {}
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "yyHKK186zwYZXlFW",
            "name": "Header Auth account"
          }
        }
      },
      {
        "id": "35212c47-7eb0-46b8-afb2-ca06ecd340c0",
        "name": "Agent Core",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          208,
          0
        ],
        "parameters": {
          "jsCode": "return [$input.first()]"
        }
      },
      {
        "id": "c2cc1f79-7ab2-4b21-aed1-e6d17121d27a",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.5,
        "position": [
          416,
          0
        ],
        "parameters": {
          "options": {}
        }
      }
    ],
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "Agent Core",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Agent Core": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "binaryMode": "separate",
      "availableInMCP": true,
      "timeSavedMode": "fixed",
      "errorWorkflow": "4l0H7MgNyOHbYPbO",
      "callerPolicy": "workflowsFromSameOwner"
    }
  }
}