snapshots/Cux5dXK9MhhfDDxa/2026-03-25T22-32-23.json
{
  "snapshot_at": "2026-03-25T22:32:23.006Z",
  "reason": "Pre-modification snapshot: v5: stripped nodes + Slack alert on PUT failure",
  "session_id": "unknown-session",
  "workflow": {
    "name": "PLATFORM_CATALOG_SYNC",
    "id": "Cux5dXK9MhhfDDxa",
    "active": true,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 2 * * *"
              }
            ]
          }
        },
        "name": "Daily 2AM UTC",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ],
        "id": "fb7c49fe-1e98-4390-bd4f-f7dc8c90a0c7"
      },
      {
        "parameters": {},
        "name": "Manual Test",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          220
        ],
        "id": "38d37df4-a7cf-44ad-a443-93aeaed257dc"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "catalog-sync",
          "responseMode": "lastNode",
          "options": {}
        },
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          -220
        ],
        "webhookId": "catalog-sync-wh",
        "id": "40eca716-28d6-4bb8-9237-930f5cb78a9d"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c1",
                "name": "apiKey",
                "value": "={{ $vars.N8N_API_KEY }}",
                "type": "string"
              },
              {
                "id": "c2",
                "name": "masterKey",
                "value": "={{ $vars.key_master }}",
                "type": "string"
              }
            ]
          }
        },
        "name": "Load Config",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          280,
          0
        ],
        "id": "e1e4d86b-2ec7-465f-ad5a-6a9b981fb348"
      },
      {
        "parameters": {
          "jsCode": "try {\n  const cfg = $input.first().json;\n  if (!cfg.apiKey) return [{ json: { error: 'N8N_API_KEY is empty' } }];\n  const BASE = 'https://mmurawala.app.n8n.cloud/api/v1';\n  const GW = 'https://mmurawala.app.n8n.cloud/webhook/orchestrate-v2';\n  const headers = { 'X-N8N-API-KEY': cfg.apiKey };\n  const gwHeaders = { 'Content-Type': 'application/json', 'x-api-key': cfg.masterKey };\n\n  // 1. Fetch enabled domains\n  const regResp = await this.helpers.httpRequest({ method: 'GET', url: `${BASE}/data-tables/8uXPK6pD52xG90Y0/rows?limit=250`, headers });\n  const domains = (regResp.data || regResp || []).filter(r => String(r.enabled) === 'true');\n\n  // 2. Fetch ALL actions (paginated)\n  let allActions = [];\n  let offset = 0;\n  while (true) {\n    const resp = await this.helpers.httpRequest({ method: 'GET', url: `${BASE}/data-tables/nTBOiE9byj3KcHVQ/rows?limit=250&offset=${offset}`, headers });\n    const arr = Array.isArray(resp.data || resp) ? (resp.data || resp) : [];\n    allActions = allActions.concat(arr);\n    if (arr.length < 250) break;\n    offset += 250;\n  }\n  const enabledActions = allActions.filter(a => String(a.enabled) === 'true');\n\n  // 3. Build catalog\n  const categoryMap = {};\n  for (const d of domains) {\n    const cat = (d.category || 'OTHER').toUpperCase();\n    if (!categoryMap[cat]) categoryMap[cat] = [];\n    const acts = enabledActions.filter(a => a.api_name === d.api_name).map(a => a.action).sort();\n    if (acts.length > 0) categoryMap[cat].push(d.api_name + '(' + acts.join(',') + ')');\n  }\n  const ORDER = ['AI','CRM','PRODUCTIVITY','MARKETING','ANALYTICS','CMS','CREATIVE','DEPLOYMENT'];\n  let catalog = \"Execute any API action through the gateway. Input: domain (string), action (string), client (string - 'kahuna' or 'ascend'), params (object - action-specific parameters).\\n\\nAVAILABLE DOMAINS AND ACTIONS (call directly \\u2014 no need for list_domains/list_actions/get_action_schema first):\\n\\n\";\n  for (const cat of ORDER) {\n    if (categoryMap[cat] && categoryMap[cat].length > 0) {\n      catalog += cat + ': ' + categoryMap[cat].join(' | ') + '\\n\\n';\n      delete categoryMap[cat];\n    }\n  }\n  for (const cat of Object.keys(categoryMap).sort()) {\n    if (categoryMap[cat].length > 0) catalog += cat + ': ' + categoryMap[cat].join(' | ') + '\\n\\n';\n  }\n  catalog += \"PARAM HINTS: For 'passthrough' domains (AI, Apollo, Gong, Semrush, Vercel, etc), params go directly as the API body. For 'handler' domains (HubSpot, Google, Slack, etc), check get_action_schema if unsure about required params.\";\n\n  // 4. GET current workflow to check if catalog changed\n  const wf = await this.helpers.httpRequest({ method: 'GET', url: `${BASE}/workflows/42BsiQ2R7nstxydY`, headers });\n  let currentDesc = '';\n  for (const node of wf.nodes) {\n    if (node.parameters && node.parameters.name === 'execute_action') {\n      currentDesc = node.parameters.description || '';\n      break;\n    }\n  }\n\n  if (currentDesc === catalog) {\n    return [{ json: { success: true, skipped: true, reason: 'catalog_unchanged', catalog_length: catalog.length, domains: domains.length, actions: enabledActions.length } }];\n  }\n\n  // 5. Update via safe_modify_workflow (proven path, handles PUT correctly)\n  // Build nodes array with updated description\n  for (const node of wf.nodes) {\n    if (node.parameters && node.parameters.name === 'execute_action') {\n      node.parameters.description = catalog;\n      break;\n    }\n  }\n\n  const modifyResp = await this.helpers.httpRequest({\n    method: 'POST',\n    url: GW,\n    headers: gwHeaders,\n    body: {\n      domain: 'handover',\n      action: 'safe_modify_workflow',\n      client: 'ascend',\n      params: {\n        workflow_id: '42BsiQ2R7nstxydY',\n        changes: {\n          name: wf.name,\n          nodes: wf.nodes,\n          connections: wf.connections,\n          settings: wf.settings\n        },\n        reason: 'PLATFORM_CATALOG_SYNC auto-refresh: ' + domains.length + ' domains, ' + enabledActions.length + ' actions'\n      }\n    }\n  });\n\n  if (!modifyResp.ok) {\n    return [{ json: { success: false, step: 'safe_modify', error: JSON.stringify(modifyResp.error || modifyResp).substring(0, 500) } }];\n  }\n\n  // 6. Log change\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST', url: GW, headers: gwHeaders,\n      body: { domain: 'handover', action: 'log_change', client: 'ascend', params: { workflow_name: 'PLATFORM_CATALOG_SYNC', change_type: 'catalog_refresh', description: 'Auto-refreshed: ' + domains.length + ' domains, ' + enabledActions.length + ' actions, ' + catalog.length + ' chars', date: new Date().toISOString() } }\n    });\n  } catch(e) {}\n\n  return [{ json: { success: true, domains: domains.length, enabled_actions: enabledActions.length, catalog_length: catalog.length, old_length: currentDesc.length } }];\n} catch (err) {\n  return [{ json: { success: false, error: err.message, stack: String(err.stack).substring(0, 500) } }];\n}\n"
        },
        "name": "Sync Catalog",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          540,
          0
        ],
        "id": "135d19bd-c560-4ea8-a5a7-593d158d5e3f"
      }
    ],
    "connections": {
      "Daily 2AM UTC": {
        "main": [
          [
            {
              "node": "Load Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Manual Test": {
        "main": [
          [
            {
              "node": "Load Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Load Config",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Load Config": {
        "main": [
          [
            {
              "node": "Sync Catalog",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "saveManualExecutions": true,
      "callerPolicy": "any",
      "errorWorkflow": "4l0H7MgNyOHbYPbO",
      "availableInMCP": false
    }
  }
}