snapshots/OahB4HRFvyy4C5Zn/2026-03-18T04-41-32.json
{
  "snapshot_at": "2026-03-18T04:41:32.165Z",
  "reason": "Pre-modification snapshot: ADR-001 Phase 3: Embed governance rules in get_platform_context response",
  "session_id": "cowork-2026-03-18",
  "workflow": {
    "name": "Gateway: Handover",
    "id": "OahB4HRFvyy4C5Zn",
    "active": true,
    "nodes": [
      {
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          200,
          300
        ],
        "webhookId": "handover-handler-v1",
        "parameters": {
          "path": "handler-handover",
          "httpMethod": "POST",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "ho-webhook"
      },
      {
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          200,
          500
        ],
        "parameters": {},
        "id": "ho-exec-trigger"
      },
      {
        "name": "Normalize Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          450,
          300
        ],
        "parameters": {
          "jsCode": "\n// Normalize webhook input + verify internal auth\nconst input = $input.first().json;\nconst data = input.body || input;\n\nconst headers = input.headers || {};\nconst secret = headers['x-handler-secret'] || data._handler_secret || '';\nconst EXPECTED = $vars.GW_HANDLER_INTERNAL_SECRET;\n\nif (secret !== EXPECTED && headers['x-handler-secret'] !== EXPECTED) {\n  const isWebhook = !!input.headers;\n  if (isWebhook) {\n    return [{ json: { error: true, message: 'Unauthorized handler call', status_code: 403 } }];\n  }\n}\n\nif (data._handler_secret) delete data._handler_secret;\nreturn [{ json: data }];\n"
        },
        "id": "ho-normalize"
      },
      {
        "name": "Auth Gate",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          650,
          300
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "ag1",
                "leftValue": "={{ $json.error }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "ho-auth-gate"
      },
      {
        "name": "Respond Error",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          850,
          200
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ok: false, error: {type: 'auth_error', message: $json.message || 'Unauthorized'}}) }}",
          "options": {
            "responseCode": 403
          }
        },
        "id": "ho-respond-error"
      },
      {
        "name": "Action Router",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          850,
          400
        ],
        "parameters": {
          "jsCode": "\n// Handover Action Router — routes to action-specific logic\n// Principle 1: Zero hardcoded values\n// Principle 3: Config-driven via $vars\nconst input = $input.first().json;\nconst action = input.action;\nconst params = input.params || {};\nconst N8N_HOST = $vars.N8N_HOST;\nconst API_KEY = $vars.N8N_INTERNAL_API_KEY;\nconst SESSION_TABLE_ID = $vars.SESSION_STATE_TABLE_ID || '';\n\nconst GITHUB_RAW = 'https://raw.githubusercontent.com';\nconst GITHUB_OWNER = (input.config && input.config.metadata && input.config.metadata.github_owner) || params.github_owner || 'mishaal-cloud';\nconst GITHUB_REPO = (input.config && input.config.metadata && input.config.metadata.github_repo) || params.github_repo || 'n8n-ops';\nconst GITHUB_BRANCH = params.branch || 'main';\n\nconst AVAILABLE_ACTIONS = [\n  'get_governing_spec', 'get_handover_template', 'run_preflight',\n  'run_audit', 'get_session_state', 'update_session_state', 'get_skill_version',\n  'get_platform_context',\n  'safe_modify_workflow', 'log_change'\n];\n\nif (!action || !AVAILABLE_ACTIONS.includes(action)) {\n  return [{json: {\n    ok: false,\n    error: { type: 'action_error', message: `Unknown handover action: ${action}. Available: ${AVAILABLE_ACTIONS.join(', ')}` },\n    data: null\n  }}];\n}\n\ntry {\n  // === get_governing_spec ===\n  if (action === 'get_governing_spec') {\n    const url = `${GITHUB_RAW}/${GITHUB_OWNER}/${GITHUB_REPO}/${GITHUB_BRANCH}/docs/governing-spec.md`;\n    const resp = await this.helpers.httpRequest({ method: 'GET', url, returnFullResponse: true, ignoreHttpStatusErrors: true });\n    if (resp.statusCode >= 400) {\n      return [{json: { ok: false, error: { type: 'fetch_error', message: `Failed to fetch governing spec: HTTP ${resp.statusCode}` }, data: null }}];\n    }\n    return [{json: { ok: true, data: { content: resp.body, source: url }, error: null }}];\n  }\n\n  // === get_handover_template ===\n  if (action === 'get_handover_template') {\n    const url = `${GITHUB_RAW}/${GITHUB_OWNER}/${GITHUB_REPO}/${GITHUB_BRANCH}/docs/skills/n8n-handover-framework/templates/handover-doc-template.md`;\n    const resp = await this.helpers.httpRequest({ method: 'GET', url, returnFullResponse: true, ignoreHttpStatusErrors: true });\n    if (resp.statusCode >= 400) {\n      return [{json: { ok: false, error: { type: 'fetch_error', message: `Failed to fetch handover template: HTTP ${resp.statusCode}` }, data: null }}];\n    }\n    return [{json: { ok: true, data: { content: resp.body, source: url }, error: null }}];\n  }\n\n  // === run_preflight ===\n  if (action === 'run_preflight') {\n    const checks = {};\n    \n    // 1. API connectivity\n    try {\n      const r = await this.helpers.httpRequest({ method: 'GET', url: `${N8N_HOST}/api/v1/workflows?limit=1`, headers: { 'X-N8N-API-KEY': API_KEY }, json: true });\n      checks.api_connectivity = { status: 'PASS', detail: 'n8n API reachable' };\n    } catch(e) {\n      checks.api_connectivity = { status: 'FAIL', detail: e.message };\n    }\n\n    // 2. Workflow count\n    try {\n      const r = await this.helpers.httpRequest({ method: 'GET', url: `${N8N_HOST}/api/v1/workflows?limit=250`, headers: { 'X-N8N-API-KEY': API_KEY }, json: true });\n      const count = (r.data || []).length;\n      checks.workflow_count = { status: 'PASS', detail: `${count} workflows found` };\n    } catch(e) {\n      checks.workflow_count = { status: 'FAIL', detail: e.message };\n    }\n\n    // 3. Variables check\n    try {\n      const r = await this.helpers.httpRequest({ method: 'GET', url: `${N8N_HOST}/api/v1/variables?limit=250`, headers: { 'X-N8N-API-KEY': API_KEY }, json: true });\n      const count = (r.data || r || []).length;\n      checks.variable_count = { status: 'PASS', detail: `${count} variables found` };\n    } catch(e) {\n      checks.variable_count = { status: 'FAIL', detail: e.message };\n    }\n\n    // 4. Session-config webhook\n    try {\n      const r = await this.helpers.httpRequest({ method: 'POST', url: `${N8N_HOST}/webhook/session-config`, headers: { 'Content-Type': 'application/json' }, body: '{}', returnFullResponse: true, ignoreHttpStatusErrors: true });\n      checks.session_config = { status: r.statusCode < 400 ? 'PASS' : 'FAIL', detail: `HTTP ${r.statusCode}` };\n    } catch(e) {\n      checks.session_config = { status: 'FAIL', detail: e.message };\n    }\n\n    // 5. Gateway v2 reachable\n    try {\n      const r = await this.helpers.httpRequest({ method: 'POST', url: `${N8N_HOST}/webhook/orchestrate-v2`, headers: { 'Content-Type': 'application/json' }, body: JSON.stringify({domain:'test',action:'ping',client:'ascend'}), returnFullResponse: true, ignoreHttpStatusErrors: true });\n      checks.gateway_v2 = { status: r.statusCode < 500 ? 'PASS' : 'FAIL', detail: `HTTP ${r.statusCode}` };\n    } catch(e) {\n      checks.gateway_v2 = { status: 'FAIL', detail: e.message };\n    }\n\n    const allPass = Object.values(checks).every(c => c.status === 'PASS');\n    return [{json: { ok: true, data: { overall: allPass ? 'PASS' : 'PARTIAL', checks, timestamp: new Date().toISOString() }, error: null }}];\n  }\n\n  // === run_audit ===\n  if (action === 'run_audit') {\n    const workflowIds = params.workflow_ids || [];\n    const auditAll = params.all === true;\n    \n    let workflows = [];\n    if (auditAll) {\n      const r = await this.helpers.httpRequest({ method: 'GET', url: `${N8N_HOST}/api/v1/workflows?limit=250`, headers: { 'X-N8N-API-KEY': API_KEY }, json: true });\n      workflows = (r.data || []);\n    } else if (workflowIds.length > 0) {\n      for (const wfId of workflowIds) {\n        try {\n          const r = await this.helpers.httpRequest({ method: 'GET', url: `${N8N_HOST}/api/v1/workflows/${wfId}`, headers: { 'X-N8N-API-KEY': API_KEY }, json: true });\n          workflows.push(r);\n        } catch(e) {\n          workflows.push({ id: wfId, name: 'FETCH_FAILED', nodes: [], _error: e.message });\n        }\n      }\n    } else {\n      return [{json: { ok: false, error: { type: 'param_error', message: 'run_audit requires workflow_ids array or all:true' }, data: null }}];\n    }\n\n    const violations = [];\n    for (const wf of workflows) {\n      if (wf._error) { violations.push({ workflow_id: wf.id, severity: 'error', rule: 'fetch_failed', message: wf._error }); continue; }\n      for (const node of (wf.nodes || [])) {\n        if (node.type !== 'n8n-nodes-base.code') continue;\n        const code = (node.parameters && node.parameters.jsCode) || '';\n        \n        // Check for hardcoded URLs\n        const hostMatches = code.match(/https?:\\/\\/[a-z0-9-]+\\.app\\.n8n\\.cloud/gi) || [];\n        for (const m of hostMatches) {\n          violations.push({ workflow_id: wf.id, workflow_name: wf.name, node: node.name, severity: 'critical', rule: 'hardcoded_url', message: `Hardcoded URL: ${m}` });\n        }\n        \n        // Check for hardcoded API keys (long alphanumeric strings that look like keys)\n        if (/eyJ[A-Za-z0-9_-]{20,}/.test(code)) {\n          violations.push({ workflow_id: wf.id, workflow_name: wf.name, node: node.name, severity: 'critical', rule: 'hardcoded_api_key', message: 'Possible hardcoded API key (JWT pattern)' });\n        }\n        \n        // Check for hardcoded table IDs (without $vars reference)\n        const tableIdPattern = /['\"][a-zA-Z0-9]{16,}['\"]/g;\n        const tableMatches = code.match(tableIdPattern) || [];\n        // Filter out common false positives (UUIDs in webhookId, known constants)\n        for (const m of tableMatches) {\n          const val = m.slice(1, -1);\n          if (val.includes('-')) continue; // UUID format, likely webhookId\n          if (code.includes('$vars') && code.includes(val)) continue; // Referenced via $vars\n          violations.push({ workflow_id: wf.id, workflow_name: wf.name, node: node.name, severity: 'warning', rule: 'possible_hardcoded_id', message: `Possible hardcoded ID: ${val.substring(0,8)}...` });\n        }\n      }\n    }\n    \n    return [{json: { ok: true, data: { workflows_scanned: workflows.length, violation_count: violations.length, violations, timestamp: new Date().toISOString() }, error: null }}];\n  }\n\n  // === get_session_state ===\n  if (action === 'get_session_state') {\n    if (!SESSION_TABLE_ID) {\n      return [{json: { ok: false, error: { type: 'config_error', message: 'SESSION_STATE_TABLE_ID variable not set' }, data: null }}];\n    }\n    const sessionId = params.session_id;\n    const url = `${N8N_HOST}/api/v1/data-tables/${SESSION_TABLE_ID}/rows?limit=250`;\n    const r = await this.helpers.httpRequest({ method: 'GET', url, headers: { 'X-N8N-API-KEY': API_KEY }, json: true });\n    const rows = r.data || [];\n    \n    if (sessionId) {\n      const match = rows.filter(row => row.session_id === sessionId);\n      const latest = match.length > 0 ? match[match.length - 1] : null;\n      if (latest && latest.state) {\n        try { latest._parsed_state = JSON.parse(latest.state); } catch(e) {}\n      }\n      return [{json: { ok: true, data: latest, error: null }}];\n    }\n    \n    // Return latest session (highest ID)\n    const latest = rows.length > 0 ? rows[rows.length - 1] : null;\n    if (latest && latest.state) {\n      try { latest._parsed_state = JSON.parse(latest.state); } catch(e) {}\n    }\n    return [{json: { ok: true, data: latest, error: null }}];\n  }\n\n  // === update_session_state ===\n  if (action === 'update_session_state') {\n    if (!SESSION_TABLE_ID) {\n      return [{json: { ok: false, error: { type: 'config_error', message: 'SESSION_STATE_TABLE_ID variable not set' }, data: null }}];\n    }\n    const sessionId = params.session_id;\n    const state = params.state;\n    if (!sessionId || !state) {\n      return [{json: { ok: false, error: { type: 'param_error', message: 'update_session_state requires session_id and state' }, data: null }}];\n    }\n    const stateStr = typeof state === 'string' ? state : JSON.stringify(state);\n    const model = params.model || 'unknown';\n    const url = `${N8N_HOST}/api/v1/data-tables/${SESSION_TABLE_ID}/rows`;\n    const r = await this.helpers.httpRequest({\n      method: 'POST', url, headers: { 'X-N8N-API-KEY': API_KEY, 'Content-Type': 'application/json' },\n      body: JSON.stringify({ data: [{ session_id: sessionId, model, state: stateStr, updated_at: new Date().toISOString() }] })\n    });\n    return [{json: { ok: true, data: { session_id: sessionId, written: true, response: r }, error: null }}];\n  }\n\n  // === get_skill_version ===\n  if (action === 'get_skill_version') {\n    const versionUrl = `${GITHUB_RAW}/${GITHUB_OWNER}/${GITHUB_REPO}/${GITHUB_BRANCH}/docs/skills/n8n-handover-framework/VERSION`;\n    let version = 'unknown';\n    try {\n      const r = await this.helpers.httpRequest({ method: 'GET', url: versionUrl, returnFullResponse: true, ignoreHttpStatusErrors: true });\n      version = r.statusCode < 400 ? (r.body || '').trim() : 'not_found';\n    } catch(e) { version = 'fetch_error'; }\n\n    const skillUrl = `${GITHUB_RAW}/${GITHUB_OWNER}/${GITHUB_REPO}/${GITHUB_BRANCH}/docs/skills/n8n-handover-framework/SKILL.md`;\n    let description = '';\n    try {\n      const r = await this.helpers.httpRequest({ method: 'GET', url: skillUrl, returnFullResponse: true, ignoreHttpStatusErrors: true });\n      if (r.statusCode < 400) {\n        const lines = (r.body || '').split('\\n').slice(0, 10);\n        description = lines.join('\\n').substring(0, 500);\n      }\n    } catch(e) {}\n\n    return [{json: { ok: true, data: { version, description, last_updated: new Date().toISOString(), source: versionUrl }, error: null }}];\n  }\n\n  // === get_platform_context ===\n  // Single-call context for any AI session. Returns health, recent changes, gotchas, and verified state.\n  // Every new session should call this FIRST before doing any work.\n  if (action === 'get_platform_context') {\n    const HEALTH_TABLE = $vars.CREDENTIAL_HEALTH_TABLE_ID || '';\n    const CHANGELOG_TABLE = $vars.PLATFORM_CHANGELOG_TABLE_ID || '';\n    \n    // 1. Get credential health (latest per domain)\n    let health = { healthy: [], degraded: [], down: [] };\n    if (HEALTH_TABLE) {\n      try {\n        const hr = await this.helpers.httpRequest({ method: 'GET', url: `${N8N_HOST}/api/v1/data-tables/${HEALTH_TABLE}/rows?limit=250`, headers: { 'X-N8N-API-KEY': API_KEY }, json: true });\n        const rows = hr.data || [];\n        const latest = {};\n        for (const row of rows) {\n          const d = row.domain;\n          if (!latest[d] || row.id > latest[d].id) latest[d] = row;\n        }\n        for (const [domain, row] of Object.entries(latest)) {\n          if (row.status === 'healthy') health.healthy.push(domain);\n          else if (row.status === 'degraded') health.degraded.push({ domain, error: row.error_message || '' });\n          else health.down.push({ domain, error: row.error_message || '', error_type: row.error_type || '' });\n        }\n      } catch(e) { health.error = e.message; }\n    }\n    \n    // 2. Get recent changelog (last 20 entries)\n    let changelog = [];\n    if (CHANGELOG_TABLE) {\n      try {\n        const cr = await this.helpers.httpRequest({ method: 'GET', url: `${N8N_HOST}/api/v1/data-tables/${CHANGELOG_TABLE}/rows?limit=20`, headers: { 'X-N8N-API-KEY': API_KEY }, json: true });\n        changelog = (cr.data || []).reverse();\n      } catch(e) {}\n    }\n    \n    // 3. Get latest verified state from session_state\n    let verifiedState = null;\n    if (SESSION_TABLE_ID) {\n      try {\n        const sr = await this.helpers.httpRequest({ method: 'GET', url: `${N8N_HOST}/api/v1/data-tables/${SESSION_TABLE_ID}/rows?limit=250`, headers: { 'X-N8N-API-KEY': API_KEY }, json: true });\n        const rows = (sr.data || []).filter(r => r.session_id && r.session_id.startsWith('verified-state'));\n        const latest = rows.length > 0 ? rows[rows.length - 1] : null;\n        if (latest && latest.state) {\n          try { verifiedState = JSON.parse(latest.state); } catch(e) { verifiedState = latest.state; }\n        }\n      } catch(e) {}\n    }\n    \n    return [{json: {\n      ok: true,\n      data: {\n        health,\n        recent_changes: changelog,\n        verified_state: verifiedState,\n        gotchas: verifiedState?.gotchas || [\n          'Webhook re-registration required after API workflow updates (toggle OFF/ON)',\n          'Registry client field must be all for shared services',\n          'DataTable row DELETE not supported via n8n Cloud API',\n          'Capabilities catalog may be stale - verify against handler code',\n          'E2E health data lags behind reality - verify with live gateway calls'\n        ],\n        datatable_ids: verifiedState?.datatable_ids_verified || {},\n        timestamp: new Date().toISOString()\n      },\n      error: null\n    }}];\n  }\n\n\n  // === safe_modify_workflow ===\n  // THE way to modify any workflow. Snapshots to GitHub first, applies change, logs to changelog, sends Slack alert.\n  // Every AI session and tool MUST use this instead of raw PUT /workflows/{id}.\n  if (action === 'safe_modify_workflow') {\n    const wfId = params.workflow_id;\n    const changes = params.changes; // {name, nodes, connections, settings}\n    const reason = params.reason || 'No reason provided';\n    const sessionId = params.session_id || 'unknown-session';\n    \n    if (!wfId) return [{json: {ok: false, error: {type: 'param_error', message: 'workflow_id is required'}, data: null}}];\n    if (!changes) return [{json: {ok: false, error: {type: 'param_error', message: 'changes object is required (name, nodes, connections, settings)'}, data: null}}];\n    \n    // Step 1: GET current workflow state\n    let currentWf;\n    try {\n      currentWf = await this.helpers.httpRequest({\n        method: 'GET', url: N8N_HOST + '/api/v1/workflows/' + wfId,\n        headers: {'X-N8N-API-KEY': API_KEY}, json: true\n      });\n    } catch(e) {\n      return [{json: {ok: false, error: {type: 'fetch_error', message: 'Could not fetch workflow ' + wfId + ': ' + e.message}, data: null}}];\n    }\n    \n    // Step 2: Snapshot to GitHub\n    const timestamp = new Date().toISOString().replace(/[:.]/g, '-').slice(0, 19);\n    const snapshotPath = 'snapshots/' + wfId + '/' + timestamp + '.json';\n    const snapshotContent = JSON.stringify({\n      snapshot_at: new Date().toISOString(),\n      reason: 'Pre-modification snapshot: ' + reason,\n      session_id: sessionId,\n      workflow: {name: currentWf.name, id: currentWf.id, active: currentWf.active, nodes: currentWf.nodes, connections: currentWf.connections, settings: currentWf.settings}\n    }, null, 2);\n    \n    try {\n      await this.helpers.httpRequest({\n        method: 'PUT',\n        url: 'https://api.github.com/repos/' + GITHUB_OWNER + '/' + GITHUB_REPO + '/contents/' + snapshotPath,\n        headers: {\n          'Authorization': 'token ' + ($vars.GITHUB_PAT || ''),\n          'Accept': 'application/vnd.github.v3+json',\n          'Content-Type': 'application/json'\n        },\n        body: JSON.stringify({\n          message: 'Snapshot ' + currentWf.name + ' before modification: ' + reason,\n          content: Buffer.from(snapshotContent).toString('base64')\n        })\n      });\n    } catch(e) {\n      // Try via gateway GitHub handler as fallback\n      try {\n        const gwUrl = N8N_HOST + '/webhook/handler-github';\n        await this.helpers.httpRequest({\n          method: 'POST', url: gwUrl,\n          headers: {'x-handler-secret': $vars.GW_HANDLER_INTERNAL_SECRET, 'Content-Type': 'application/json'},\n          body: JSON.stringify({\n            domain: 'github', action: 'create_or_update_file', client: 'ascend',\n            params: {owner: GITHUB_OWNER, repo: GITHUB_REPO, path: snapshotPath, message: 'Snapshot ' + currentWf.name + ' before modification: ' + reason, content: snapshotContent}\n          })\n        });\n      } catch(e2) {\n        return [{json: {ok: false, error: {type: 'snapshot_error', message: 'Could not snapshot to GitHub: ' + e.message + ' / ' + e2.message}, data: null}}];\n      }\n    }\n    \n    // Step 3: Apply the modification\n    const allowedSettings = {};\n    const newSettings = changes.settings || currentWf.settings || {};\n    for (const k of ['executionOrder', 'callerPolicy', 'errorWorkflow']) {\n      if (newSettings[k]) allowedSettings[k] = newSettings[k];\n    }\n    \n    let updatedWf;\n    try {\n      updatedWf = await this.helpers.httpRequest({\n        method: 'PUT', url: N8N_HOST + '/api/v1/workflows/' + wfId,\n        headers: {'X-N8N-API-KEY': API_KEY, 'Content-Type': 'application/json'},\n        body: JSON.stringify({\n          name: changes.name || currentWf.name,\n          nodes: changes.nodes || currentWf.nodes,\n          connections: changes.connections || currentWf.connections,\n          settings: allowedSettings\n        })\n      });\n    } catch(e) {\n      return [{json: {ok: false, error: {type: 'update_error', message: 'PUT failed: ' + e.message + '. Snapshot saved at ' + snapshotPath}, data: null}}];\n    }\n    \n    // Step 4: Re-register webhooks if needed\n    const hasWebhook = (changes.nodes || currentWf.nodes).some(n => (n.type || '').includes('webhook'));\n    if (hasWebhook && currentWf.active) {\n      try {\n        await this.helpers.httpRequest({method: 'POST', url: N8N_HOST + '/api/v1/workflows/' + wfId + '/deactivate', headers: {'X-N8N-API-KEY': API_KEY}});\n        await new Promise(r => setTimeout(r, 1500));\n        await this.helpers.httpRequest({method: 'POST', url: N8N_HOST + '/api/v1/workflows/' + wfId + '/activate', headers: {'X-N8N-API-KEY': API_KEY}});\n      } catch(e) {} // Non-fatal\n    }\n    \n    // Step 5: Log to changelog\n    const CHANGELOG_TABLE = $vars.PLATFORM_CHANGELOG_TABLE_ID || '';\n    if (CHANGELOG_TABLE) {\n      try {\n        await this.helpers.httpRequest({\n          method: 'POST', url: N8N_HOST + '/api/v1/data-tables/' + CHANGELOG_TABLE + '/rows',\n          headers: {'X-N8N-API-KEY': API_KEY, 'Content-Type': 'application/json'},\n          body: JSON.stringify({data: [{\n            timestamp: new Date().toISOString(),\n            category: 'workflow_modification',\n            domain: currentWf.name,\n            summary: reason,\n            details: 'Workflow ' + wfId + ' modified. Snapshot: ' + snapshotPath + '. Webhook re-registered: ' + hasWebhook,\n            session_id: sessionId\n          }]})\n        });\n      } catch(e) {} // Non-fatal\n    }\n    \n    // Step 6: Slack notification\n    try {\n      const slackUrl = N8N_HOST + '/webhook/handler-google-suite';\n      await this.helpers.httpRequest({\n        method: 'POST', url: slackUrl,\n        headers: {'x-handler-secret': $vars.GW_HANDLER_INTERNAL_SECRET, 'Content-Type': 'application/json'},\n        body: JSON.stringify({\n          domain: 'slack', action: 'post_message', client: 'ascend',\n          params: {\n            channel: '#n8n-alerts',\n            text: ':wrench: *Workflow Modified*\\n*' + currentWf.name + '* (' + wfId + ')\\n*Reason:* ' + reason + '\\n*Session:* ' + sessionId + '\\n*Snapshot:* `' + snapshotPath + '`'\n          }\n        })\n      });\n    } catch(e) {} // Non-fatal\n    \n    return [{json: {\n      ok: true,\n      data: {\n        workflow_id: wfId,\n        workflow_name: updatedWf.name || currentWf.name,\n        snapshot_path: snapshotPath,\n        webhook_re_registered: hasWebhook,\n        changelog_logged: !!CHANGELOG_TABLE,\n        slack_notified: true\n      },\n      error: null\n    }}];\n  }\n\n  // === log_change ===\n  // Record any platform change (DataTable inserts, variable updates, config changes)\n  if (action === 'log_change') {\n    const CHANGELOG_TABLE = $vars.PLATFORM_CHANGELOG_TABLE_ID || '';\n    if (!CHANGELOG_TABLE) return [{json: {ok: false, error: {type: 'config_error', message: 'PLATFORM_CHANGELOG_TABLE_ID not set'}, data: null}}];\n    \n    const entry = {\n      timestamp: new Date().toISOString(),\n      category: params.category || 'platform_change',\n      domain: params.domain || 'unknown',\n      summary: params.summary || 'No summary',\n      details: params.details || '',\n      session_id: params.session_id || 'unknown'\n    };\n    \n    try {\n      await this.helpers.httpRequest({\n        method: 'POST', url: N8N_HOST + '/api/v1/data-tables/' + CHANGELOG_TABLE + '/rows',\n        headers: {'X-N8N-API-KEY': API_KEY, 'Content-Type': 'application/json'},\n        body: JSON.stringify({data: [entry]})\n      });\n      return [{json: {ok: true, data: {logged: true, entry}, error: null}}];\n    } catch(e) {\n      return [{json: {ok: false, error: {type: 'log_error', message: e.message}, data: null}}];\n    }\n  }\n\n\n} catch (error) {\n  return [{json: { ok: false, error: { type: 'system_error', message: error.message, stack: error.stack?.substring(0, 300) }, data: null }}];\n}\n"
        },
        "id": "ho-action-router"
      },
      {
        "name": "Respond Success",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1100,
          400
        ],
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify($json) }}",
          "options": {}
        },
        "id": "ho-respond-success"
      }
    ],
    "connections": {
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Normalize Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Action Router",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Normalize Input": {
        "main": [
          [
            {
              "node": "Auth Gate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Auth Gate": {
        "main": [
          [
            {
              "node": "Respond Error",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Action Router",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Action Router": {
        "main": [
          [
            {
              "node": "Respond Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false,
      "errorWorkflow": "hOWUA7bAQb8Apwd0"
    }
  }
}