snapshots/DDFeoSRfK8IsPXk6/2026-03-26T15-43-12.json
{
  "snapshot_at": "2026-03-26T15:43:12.033Z",
  "reason": "Pre-modification snapshot: No reason provided",
  "session_id": "unknown-session",
  "workflow": {
    "name": "PLATFORM_MEMORY_SYNC",
    "id": "DDFeoSRfK8IsPXk6",
    "active": false,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "hours",
                "hoursInterval": 6
              }
            ]
          }
        },
        "name": "Schedule (6h)",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          220,
          300
        ],
        "id": "afae8dd2-c9b9-4a91-824a-e88e24579416"
      },
      {
        "parameters": {
          "jsCode": "const apiKey = $vars.N8N_INTERNAL_API_KEY;\nconst host = 'https://mmurawala.app.n8n.cloud';\nconst headers = {'X-N8N-API-KEY': apiKey, 'Content-Type': 'application/json'};\nlet workflows = [];\ntry {\n  const wfRes = await this.helpers.httpRequest({method: 'GET', url: host + '/api/v1/workflows?limit=250&active=true', headers, json: true});\n  workflows = wfRes.data || [];\n} catch(e) { workflows = [{error: e.message}]; }\nlet changelog = [];\ntry {\n  const clRes = await this.helpers.httpRequest({method: 'GET', url: host + '/api/v1/data-tables/kqKrSqKSsu8UbU89/rows?limit=20', headers, json: true});\n  changelog = (clRes.data || []).slice(0, 10);\n} catch(e) { changelog = [{error: e.message}]; }\nlet errors = [];\ntry {\n  const exRes = await this.helpers.httpRequest({method: 'GET', url: host + '/api/v1/executions?status=error&limit=20', headers, json: true});\n  errors = (exRes.data || []).map(e => ({id: e.id, workflowName: (e.workflowData||{}).name, stoppedAt: e.stoppedAt}));\n} catch(e) { errors = [{error: e.message}]; }\nlet credHealth = [];\ntry {\n  const crRes = await this.helpers.httpRequest({method: 'GET', url: host + '/api/v1/data-tables/wCfdPfENLbe1jvc2/rows?limit=50', headers, json: true});\n  credHealth = crRes.data || [];\n} catch(e) { credHealth = [{error: e.message}]; }\nreturn [{json: {\n  timestamp: new Date().toISOString(),\n  active_workflow_count: workflows.length,\n  active_workflows: workflows.map(w => ({id: w.id, name: w.name, updatedAt: w.updatedAt})),\n  recent_changelog: changelog,\n  recent_errors: errors,\n  credential_health: credHealth\n}}];"
        },
        "name": "Collect Platform State",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          440,
          300
        ],
        "id": "e16aa620-4296-4ee3-a4cd-6dfcfb4a5d0f"
      },
      {
        "parameters": {
          "jsCode": "const state = $input.first().json;\nconst token = $vars.HINDSIGHT_MCP_TOKEN;\nconst bankId = 'ascend-infra';\nconst url = 'https://hindsight.ascendgtm.net/v1/default/banks/' + bankId + '/memories';\nconst ts = state.timestamp;\nconst wfCount = state.active_workflow_count;\nconst errorCount = (state.recent_errors || []).length;\nconst topWfs = (state.active_workflows || []).sort((a,b) => (b.updatedAt||'').localeCompare(a.updatedAt||'')).slice(0, 20).map(w => w.name + ' (' + w.id + ')').join(', ');\nconst errorSummary = errorCount === 0 ? 'No execution errors in last 24h.' : (state.recent_errors || []).map(e => (e.workflowName || 'unknown')).join('; ');\nconst clSummary = (state.recent_changelog || []).length === 0 ? 'No recent changelog entries.' : (state.recent_changelog || []).slice(0, 5).map(c => (c.category || '') + '/' + (c.domain || '') + ': ' + (c.summary || '')).join('; ');\nconst credSummary = (state.credential_health || []).length === 0 ? 'No credential health data.' : 'Credentials tracked: ' + (state.credential_health || []).length;\nconst items = [{content: 'Platform Sync ' + ts + ' | ' + wfCount + ' active workflows, ' + errorCount + ' recent errors. Errors: ' + errorSummary + ' | Changelog: ' + clSummary + ' | Credentials: ' + credSummary + ' | Recently updated workflows: ' + topWfs}];\ntry {\n  const res = await this.helpers.httpRequest({method: 'POST', url: url, headers: {'Authorization': 'Bearer ' + token, 'Content-Type': 'application/json'}, body: JSON.stringify({items: items, async: true})});\n  return [{json: {success: true, bank_id: bankId, items_count: items.length, timestamp: ts}}];\n} catch(e) {\n  return [{json: {success: false, error: e.message, bank_id: bankId, timestamp: ts}}];\n}"
        },
        "name": "Retain to Hindsight",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          660,
          300
        ],
        "id": "3c1e436b-7823-4db3-b947-2f346ac6a005"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "1",
                "leftValue": "={{ $json.success }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "name": "Success?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          880,
          300
        ],
        "id": "61e4fcc0-3dd1-4b3a-963f-1f0d8f102ef9"
      },
      {
        "parameters": {
          "options": {}
        },
        "name": "Done",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          1100,
          200
        ],
        "id": "f7191efa-7d63-4c84-a581-76e347e9b1e2"
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst host = 'https://mmurawala.app.n8n.cloud';\nconst apiKey = $vars.N8N_INTERNAL_API_KEY;\ntry {\n  await this.helpers.httpRequest({method: 'POST', url: host + '/api/v1/data-tables/PLh0y2lR6CWkZ88y/rows', headers: {'X-N8N-API-KEY': apiKey, 'Content-Type': 'application/json'}, body: JSON.stringify({data: [{severity: 'warning', source: 'PLATFORM_MEMORY_SYNC', message: 'Memory sync failed: ' + (input.error || 'unknown'), timestamp: new Date().toISOString()}]})});\n} catch(e) {}\nreturn [{json: {alerted: true, original_error: input.error}}];"
        },
        "name": "Alert on Failure",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1100,
          400
        ],
        "id": "b2a02766-d7e2-4a50-b3fc-c8fc060c0c8e"
      }
    ],
    "connections": {
      "Schedule (6h)": {
        "main": [
          [
            {
              "node": "Collect Platform State",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Collect Platform State": {
        "main": [
          [
            {
              "node": "Retain to Hindsight",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Retain to Hindsight": {
        "main": [
          [
            {
              "node": "Success?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Success?": {
        "main": [
          [
            {
              "node": "Done",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Alert on Failure",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "saveManualExecutions": true,
      "errorWorkflow": "4l0H7MgNyOHbYPbO",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false
    }
  }
}