snapshots/5qCkduxZZOoGRO3V/2026-03-28T12-00-57.json
{
  "snapshot_at": "2026-03-28T12:00:57.449Z",
  "reason": "Pre-modification snapshot: No reason provided",
  "session_id": "unknown-session",
  "workflow": {
    "name": "PLATFORM_CONTRACT_TEST_INFRA",
    "id": "5qCkduxZZOoGRO3V",
    "active": true,
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 7 * * *"
              }
            ]
          }
        },
        "id": "ct-schedule",
        "name": "Daily 7am",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          300
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "contract-test",
          "responseMode": "lastNode",
          "options": {}
        },
        "id": "ct-webhook",
        "name": "On-Demand Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          500
        ],
        "webhookId": "contract-test-001"
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const tests = [];\nconst timestamp = new Date().toISOString();\ntry {\n  const ledger = await this.helpers.request({ method: 'GET', uri: $vars.N8N_HOST + '/api/v1/data-tables/JofPMjEUNrEu9lao/rows?limit=1', headers: { 'X-N8N-API-KEY': $vars.N8N_INTERNAL_API_KEY }, json: true, simple: false });\n  tests.push({ test: 'ERROR_LEDGER_READ', pass: !!ledger && !ledger.error, details: 'Readable' });\n} catch(e) { tests.push({ test: 'ERROR_LEDGER_READ', pass: false, details: e.message }); }\ntry {\n  const fixes = await this.helpers.request({ method: 'GET', uri: $vars.N8N_HOST + '/api/v1/data-tables/nBU0Mfop4Yqb1W7q/rows?limit=1', headers: { 'X-N8N-API-KEY': $vars.N8N_INTERNAL_API_KEY }, json: true, simple: false });\n  tests.push({ test: 'KNOWN_FIXES_READ', pass: !!fixes && !fixes.error, details: 'Readable' });\n} catch(e) { tests.push({ test: 'KNOWN_FIXES_READ', pass: false, details: e.message }); }\ntry {\n  const wf = await this.helpers.request({ method: 'GET', uri: $vars.N8N_HOST + '/api/v1/workflows/O7zDlmGScIBCTrEo', headers: { 'X-N8N-API-KEY': $vars.N8N_INTERNAL_API_KEY }, json: true, simple: false });\n  tests.push({ test: 'RESPONDER_ACTIVE', pass: wf && wf.active === true, details: wf.active ? 'Active' : 'INACTIVE' });\n} catch(e) { tests.push({ test: 'RESPONDER_ACTIVE', pass: false, details: e.message }); }\ntry {\n  const gwResp = await this.helpers.request({ method: 'POST', uri: $vars.N8N_HOST + '/webhook/orchestrate-v2', headers: { 'Content-Type': 'application/json', 'x-api-key': $vars.key_master }, body: JSON.stringify({ domain: 'handover', action: 'list_workflows', client: 'ascend', params: { limit: 1 } }), json: true, simple: false, timeout: 30000 });\n  tests.push({ test: 'GATEWAY_REACHABLE', pass: !gwResp.error, details: gwResp.error ? gwResp.error : 'Reachable' });\n} catch(e) { tests.push({ test: 'GATEWAY_REACHABLE', pass: false, details: e.message }); }\nreturn [{ json: { timestamp, tests } }];"
        },
        "id": "ct-fast-tests",
        "name": "Fast API Tests",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          300,
          400
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://mmurawala.app.n8n.cloud/webhook/platform-responder",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ workflow_id: 'CONTRACT_TEST', workflow_name: 'PLATFORM_CONTRACT_TEST', node_name: 'Synthetic Canary', error_message: 'CONTRACT_TEST canary — not a real error', error_category: 'contract_test', severity: 'LOW', execution_id: 'canary-' + Date.now(), execution_url: '', is_transient: false, timestamp: $json.timestamp }) }}",
          "options": {
            "timeout": 30000
          }
        },
        "id": "ct-responder-canary",
        "name": "RESPONDER Canary",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          560,
          400
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const fastTests = $('Fast API Tests').first().json.tests;\nconst timestamp = $('Fast API Tests').first().json.timestamp;\nconst canaryNode = $('RESPONDER Canary').first().json;\nconst fullStr = JSON.stringify(canaryNode);\nlet canaryPass = false;\nlet canaryDetail = '';\nif (fullStr.includes('RESOLVED')) { canaryPass = true; canaryDetail = 'RESPONDER returned RESOLVED'; }\nelse if (fullStr.includes('524') || fullStr.includes('timeout') || fullStr.includes('TIMEDOUT') || fullStr.includes('ESOCKETTIMEDOUT')) { canaryPass = true; canaryDetail = 'RESPONDER webhook reachable, processing confirmed (timeout expected)'; }\nelse if (fullStr.includes('404')) { canaryPass = false; canaryDetail = 'RESPONDER webhook not registered (404)'; }\nelse if (fullStr.includes('502') || fullStr.includes('503')) { canaryPass = false; canaryDetail = 'n8n instance unreachable: ' + fullStr.substring(0, 150); }\nelse { canaryPass = !fullStr.includes('ECONNREFUSED'); canaryDetail = 'Response: ' + fullStr.substring(0, 200); }\nfastTests.push({ test: 'RESPONDER_WEBHOOK', pass: canaryPass, details: canaryDetail });\nconst allPass = fastTests.every(t => t.pass);\nconst failCount = fastTests.filter(t => !t.pass).length;\nreturn [{ json: { timestamp, allPass, failCount, totalTests: fastTests.length, tests: fastTests } }];"
        },
        "id": "ct-merge-results",
        "name": "Merge Results",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          780,
          400
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "leftValue": "={{ $json.allPass }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "ct-check",
        "name": "All Pass?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          980,
          400
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/chat.postMessage",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "slackOAuth2Api",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ channel: '#n8n-alerts', text: ':x: CONTRACT TEST FAILED — ' + $json.failCount + '/' + $json.totalTests + ' tests failed', blocks: [{ type: 'header', text: { type: 'plain_text', text: ':x: Platform Contract Test FAILED', emoji: true }}, { type: 'section', text: { type: 'mrkdwn', text: '*' + $json.failCount + ' of ' + $json.totalTests + ' tests failed*\\n' + $json.tests.filter(t => !t.pass).map(t => ':red_circle: ' + t.test + ': ' + t.details).join('\\n') }}] }) }}",
          "options": {
            "timeout": 10000
          }
        },
        "id": "ct-alert-fail",
        "name": "Slack Failure Alert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1200,
          500
        ],
        "continueOnFail": true,
        "credentials": {
          "slackOAuth2Api": {
            "id": "Td6a13CD9P2O5K2U",
            "name": "SLACK_OAUTH_ACCOUNT"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "return [{ json: { result: 'ALL_PASS', tests: $json.totalTests, timestamp: $json.timestamp } }];"
        },
        "id": "ct-success",
        "name": "Log Success",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          300
        ]
      }
    ],
    "connections": {
      "Daily 7am": {
        "main": [
          [
            {
              "node": "Fast API Tests",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On-Demand Trigger": {
        "main": [
          [
            {
              "node": "Fast API Tests",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fast API Tests": {
        "main": [
          [
            {
              "node": "RESPONDER Canary",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "RESPONDER Canary": {
        "main": [
          [
            {
              "node": "Merge Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Results": {
        "main": [
          [
            {
              "node": "All Pass?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "All Pass?": {
        "main": [
          [
            {
              "node": "Log Success",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Slack Failure Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": true,
      "saveManualExecutions": true,
      "errorWorkflow": "4l0H7MgNyOHbYPbO"
    }
  }
}