snapshots/4l0H7MgNyOHbYPbO/2026-03-28T12-02-44.json
{
  "snapshot_at": "2026-03-28T12:02:44.196Z",
  "reason": "Pre-modification snapshot: No reason provided",
  "session_id": "unknown-session",
  "workflow": {
    "name": "PLATFORM_ERROR_HANDLER",
    "id": "4l0H7MgNyOHbYPbO",
    "active": true,
    "nodes": [
      {
        "parameters": {},
        "id": "n1",
        "name": "Error Trigger",
        "type": "n8n-nodes-base.errorTrigger",
        "typeVersion": 1,
        "position": [
          250,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "c1",
                "leftValue": "={{ $json.workflow.id }}",
                "rightValue": "4l0H7MgNyOHbYPbO",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "c2",
                "leftValue": "={{ $json.workflow.id }}",
                "rightValue": "O7zDlmGScIBCTrEo",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "n2",
        "name": "Not Self or RESPONDER?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          480,
          300
        ]
      },
      {
        "parameters": {},
        "id": "n3",
        "name": "Swallow",
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          720,
          520
        ]
      },
      {
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              {
                "id": "a1",
                "name": "execution_id",
                "value": "={{ $json.execution?.id || 'unknown' }}",
                "type": "string"
              },
              {
                "id": "a2",
                "name": "execution_url",
                "value": "={{ $json.execution?.url || '' }}",
                "type": "string"
              },
              {
                "id": "a3",
                "name": "execution_mode",
                "value": "={{ $json.execution?.mode || 'unknown' }}",
                "type": "string"
              },
              {
                "id": "a4",
                "name": "workflow_id",
                "value": "={{ $json.workflow?.id || 'unknown' }}",
                "type": "string"
              },
              {
                "id": "a5",
                "name": "workflow_name",
                "value": "={{ $json.workflow?.name || 'unknown' }}",
                "type": "string"
              },
              {
                "id": "a6",
                "name": "node_name",
                "value": "={{ $json.execution?.lastNodeExecuted || 'unknown' }}",
                "type": "string"
              },
              {
                "id": "a7",
                "name": "error_message",
                "value": "={{ ($json.execution?.error?.message) || 'Unknown error' }}",
                "type": "string"
              },
              {
                "id": "a8",
                "name": "status_code",
                "value": "={{ $json.execution?.error?.cause?.status || $json.execution?.error?.cause?.statusCode || 0 }}",
                "type": "number"
              },
              {
                "id": "a9",
                "name": "timestamp",
                "value": "={{ $now.toISO() }}",
                "type": "string"
              }
            ]
          },
          "options": {
            "includeOtherFields": false
          }
        },
        "id": "n4",
        "name": "Extract Context",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          720,
          300
        ]
      },
      {
        "parameters": {
          "mode": "manual",
          "duplicateItem": false,
          "assignments": {
            "assignments": [
              {
                "id": "b1",
                "name": "error_category",
                "value": "={{ [401, 403].includes(Number($json.status_code)) ? 'auth_error' : Number($json.status_code) === 429 || ($json.error_message || '').toLowerCase().includes('rate limit') ? 'rate_limit' : ($json.error_message || '').toLowerCase().includes('timeout') || ($json.error_message || '').toLowerCase().includes('timed out') || ($json.error_message || '').toLowerCase().includes('econnreset') || ($json.error_message || '').toLowerCase().includes('socket hang up') ? 'timeout' : Number($json.status_code) >= 500 ? 'api_error_5xx' : [400, 422].includes(Number($json.status_code)) ? 'validation_error' : (Number($json.status_code) >= 400 && Number($json.status_code) < 500) ? 'api_error_4xx' : ($json.error_message || '').toLowerCase().includes('cannot read') || ($json.error_message || '').toLowerCase().includes('is not a function') ? 'code_error' : 'runtime_error' }}",
                "type": "string"
              },
              {
                "id": "b2",
                "name": "severity",
                "value": "={{ [401, 403].includes(Number($json.status_code)) ? 'CRITICAL' : (($json.error_message || '').toLowerCase().includes('cannot read') || ($json.error_message || '').toLowerCase().includes('is not a function')) ? 'HIGH' : (($json.workflow_name || '').toLowerCase().includes('gateway') || ($json.workflow_name || '').toLowerCase().includes('handover') || ($json.workflow_name || '').toLowerCase().includes('backup')) ? 'CRITICAL' : (($json.workflow_name || '').toLowerCase().includes('handler') || ($json.workflow_name || '').toLowerCase().includes('crm') || ($json.workflow_name || '').toLowerCase().includes('ads') || ($json.workflow_name || '').toLowerCase().includes('analytics') || ($json.workflow_name || '').toLowerCase().includes('platform')) ? 'HIGH' : (($json.workflow_name || '').toLowerCase().includes('test') || ($json.workflow_name || '').toLowerCase().includes('dev')) ? 'LOW' : 'MEDIUM' }}",
                "type": "string"
              },
              {
                "id": "b3",
                "name": "is_transient",
                "value": "={{ ($json.error_message || '').toLowerCase().includes('429') || ($json.error_message || '').toLowerCase().includes('rate limit') || ($json.error_message || '').toLowerCase().includes('503') || ($json.error_message || '').toLowerCase().includes('timeout') || ($json.error_message || '').toLowerCase().includes('econnreset') || ($json.error_message || '').toLowerCase().includes('socket hang up') || ($json.error_message || '').toLowerCase().includes('502') }}",
                "type": "boolean"
              }
            ]
          },
          "options": {
            "includeOtherFields": true
          }
        },
        "id": "n5",
        "name": "Classify Error",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          960,
          300
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "leftValue": "={{ $json.severity }}",
                "rightValue": "CRITICAL",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "n6",
        "name": "Is Critical?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1200,
          300
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/chat.postMessage",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "slackOAuth2Api",
          "sendHeaders": false,
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"channel\":\"#n8n-alerts\",\"text\":\":rotating_light: CRITICAL: {{ $json.workflow_name }}\",\"blocks\":[{\"type\":\"header\",\"text\":{\"type\":\"plain_text\",\"text\":\":rotating_light: CRITICAL Error\",\"emoji\":true}},{\"type\":\"section\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Workflow:*\\n{{ $json.workflow_name }}\"},{\"type\":\"mrkdwn\",\"text\":\"*Node:*\\n{{ $json.node_name }}\"}]},{\"type\":\"section\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Category:*\\n{{ $json.error_category }}\"},{\"type\":\"mrkdwn\",\"text\":\"*Transient:*\\n{{ $json.is_transient }}\"}]},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Error:*\\n```{{ $json.error_message }}```\"}},{\"type\":\"actions\",\"elements\":[{\"type\":\"button\",\"text\":{\"type\":\"plain_text\",\"text\":\"View Execution\",\"emoji\":true},\"url\":\"{{ $json.execution_url }}\",\"action_id\":\"view_execution\"}]}]}",
          "options": {
            "timeout": 10000
          }
        },
        "id": "n7",
        "name": "Slack Critical Alert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1440,
          180
        ],
        "continueOnFail": true,
        "credentials": {
          "slackOAuth2Api": {
            "id": "Td6a13CD9P2O5K2U",
            "name": "SLACK_OAUTH_ACCOUNT"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "leftValue": "={{ $json.severity }}",
                "rightValue": "HIGH",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          }
        },
        "id": "n8",
        "name": "Is High?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1440,
          420
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://slack.com/api/chat.postMessage",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "slackOAuth2Api",
          "sendHeaders": false,
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"channel\":\"#n8n-alerts\",\"text\":\":warning: HIGH: {{ $json.workflow_name }}\",\"blocks\":[{\"type\":\"header\",\"text\":{\"type\":\"plain_text\",\"text\":\":warning: HIGH Error\",\"emoji\":true}},{\"type\":\"section\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Workflow:*\\n{{ $json.workflow_name }}\"},{\"type\":\"mrkdwn\",\"text\":\"*Node:*\\n{{ $json.node_name }}\"}]},{\"type\":\"section\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Category:*\\n{{ $json.error_category }}\"},{\"type\":\"mrkdwn\",\"text\":\"*Transient:*\\n{{ $json.is_transient }}\"}]},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Error:*\\n```{{ $json.error_message }}```\"}},{\"type\":\"actions\",\"elements\":[{\"type\":\"button\",\"text\":{\"type\":\"plain_text\",\"text\":\"View Execution\",\"emoji\":true},\"url\":\"{{ $json.execution_url }}\",\"action_id\":\"view_execution\"}]}]}",
          "options": {
            "timeout": 10000
          }
        },
        "id": "n9",
        "name": "Slack High Alert",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1680,
          360
        ],
        "continueOnFail": true,
        "credentials": {
          "slackOAuth2Api": {
            "id": "Td6a13CD9P2O5K2U",
            "name": "SLACK_OAUTH_ACCOUNT"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $vars.N8N_HOST }}/webhook/platform-responder",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"workflow_id\":\"{{ $json.workflow_id }}\",\"workflow_name\":\"{{ $json.workflow_name }}\",\"node_name\":\"{{ $json.node_name }}\",\"error_message\":\"{{ $json.error_message }}\",\"error_category\":\"{{ $json.error_category }}\",\"severity\":\"{{ $json.severity }}\",\"execution_id\":\"{{ $json.execution_id }}\",\"execution_url\":\"{{ $json.execution_url }}\",\"is_transient\":{{ $json.is_transient }},\"timestamp\":\"{{ $json.timestamp }}\"}",
          "options": {
            "timeout": 5000
          }
        },
        "id": "n10",
        "name": "Dispatch RESPONDER",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1920,
          250
        ],
        "continueOnFail": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $vars.N8N_HOST }}/api/v1/data-tables/JofPMjEUNrEu9lao/rows",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "X-N8N-API-KEY",
                "value": "={{ $vars.N8N_INTERNAL_API_KEY }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\"data\":[{\"error_hash\":\"{{ $json.workflow_id }}_{{ $json.error_category }}_{{ $json.node_name }}\",\"workflow_id\":\"{{ $json.workflow_id }}\",\"workflow_name\":\"{{ $json.workflow_name }}\",\"node_name\":\"{{ $json.node_name }}\",\"error_category\":\"{{ $json.error_category }}\",\"error_message\":\"{{ $json.error_message }}\",\"severity\":\"{{ $json.severity }}\",\"occurrence_count\":1,\"first_seen\":\"{{ $json.timestamp }}\",\"last_seen\":\"{{ $json.timestamp }}\",\"status\":\"new\",\"fix_attempted\":\"\",\"fix_result\":\"\",\"docs_consulted\":\"\",\"resolution_notes\":\"\",\"responder_execution_id\":\"\"}]}",
          "options": {
            "timeout": 15000
          }
        },
        "id": "n11",
        "name": "Log to Error Ledger",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2160,
          350
        ],
        "continueOnFail": true
      }
    ],
    "connections": {
      "Error Trigger": {
        "main": [
          [
            {
              "node": "Not Self or RESPONDER?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Not Self or RESPONDER?": {
        "main": [
          [
            {
              "node": "Extract Context",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Swallow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Context": {
        "main": [
          [
            {
              "node": "Classify Error",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Classify Error": {
        "main": [
          [
            {
              "node": "Is Critical?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Critical?": {
        "main": [
          [
            {
              "node": "Slack Critical Alert",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Is High?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Slack Critical Alert": {
        "main": [
          [
            {
              "node": "Dispatch RESPONDER",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is High?": {
        "main": [
          [
            {
              "node": "Slack High Alert",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Log to Error Ledger",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Slack High Alert": {
        "main": [
          [
            {
              "node": "Dispatch RESPONDER",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dispatch RESPONDER": {
        "main": [
          [
            {
              "node": "Log to Error Ledger",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false,
      "errorWorkflow": "4l0H7MgNyOHbYPbO"
    }
  }
}