snapshots/42BsiQ2R7nstxydY/2026-03-25T22-44-54.json
{
  "snapshot_at": "2026-03-25T22:44:54.416Z",
  "reason": "Pre-modification snapshot: Test: minimal change to isolate 400 cause",
  "session_id": "unknown-session",
  "workflow": {
    "name": "🔌 Universal AI Access Layer (MCP Gateway)",
    "id": "42BsiQ2R7nstxydY",
    "active": true,
    "nodes": [
      {
        "parameters": {
          "path": "ai-gateway",
          "authentication": "bearerAuth",
          "options": {}
        },
        "name": "MCP Gateway Trigger",
        "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
        "typeVersion": 1,
        "position": [
          400,
          300
        ],
        "webhookId": "709a870f-d9aa-4517-bdd7-65a2bdd984bc",
        "id": "463fb623-4da7-48a3-ac57-757e3b3329f2"
      },
      {
        "parameters": {
          "name": "list_domains",
          "description": "Lists all available API domains with their category and status. Call this FIRST to discover what APIs are available. Returns domain names, categories (ai, crm, analytics, etc), and auth types.",
          "language": "javaScript",
          "jsCode": "// ===== AUTH MIDDLEWARE (injected into each MCP tool) =====\n// Validates the MCP bearer token against tenant_auth DataTable\n// Returns: { authorized: true, clientId, permissionLevel, ... } or throws/returns error\nconst crypto = require('crypto');\n\nasync function authenticateRequest(context, requestedDomain) {\n  const n8nHost = $vars.N8N_HOST;\n  const internalKey = $vars.N8N_INTERNAL_API_KEY;\n  const tenantAuthTableId = $vars.TENANT_AUTH_TABLE_ID;\n  const bearerToken = $vars.MCP_GATEWAY_BEARER_TOKEN;\n  \n  if (!tenantAuthTableId || !bearerToken) {\n    // Fail-closed: if config missing, deny\n    return { authorized: false, error: 'Auth service unavailable: missing configuration' };\n  }\n\n  function verifyApiKey(plainTextKey, storedHash) {\n    const parts = storedHash.split(':');\n    if (parts.length !== 3 || parts[0] !== 'sha256') return false;\n    const salt = parts[1];\n    const expectedHash = parts[2];\n    const actualHash = crypto.createHash('sha256').update(salt + plainTextKey).digest('hex');\n    return actualHash === expectedHash;\n  }\n\n  try {\n    // Fetch tenant_auth rows\n    let allRows = [];\n    let cursor = '';\n    let hasMore = true;\n    while (hasMore) {\n      const url = `${n8nHost}/api/v1/data-tables/${tenantAuthTableId}/rows?limit=250${cursor ? '&cursor=' + cursor : ''}`;\n      const resp = await context.helpers.httpRequest({\n        method: 'GET', url,\n        headers: { 'X-N8N-API-KEY': internalKey }\n      });\n      allRows = allRows.concat(resp.data || []);\n      cursor = resp.nextCursor || '';\n      hasMore = !!resp.nextCursor && resp.data && resp.data.length > 0;\n    }\n\n    // Find matching tenant\n    let tenantMatch = null;\n    for (const row of allRows) {\n      if (!row.api_key_hash) continue;\n      if (verifyApiKey(bearerToken, row.api_key_hash)) {\n        tenantMatch = row;\n        break;\n      }\n    }\n\n    if (!tenantMatch) {\n      // Bearer token not in tenant_auth — might still be valid via n8n's built-in auth\n      // Allow through with minimal context (backward compat during migration)\n      return { authorized: true, clientId: 'mcp_default', permissionLevel: 'read_write', authSource: 'bearer_passthrough', isAdmin: false };\n    }\n\n    // Check active\n    if (tenantMatch.active !== true && tenantMatch.active !== 'true') {\n      return { authorized: false, error: 'API key deactivated' };\n    }\n\n    // Check expiry\n    if (tenantMatch.expires_at && tenantMatch.expires_at !== 'never') {\n      if (new Date(tenantMatch.expires_at) < new Date()) {\n        return { authorized: false, error: 'API key expired' };\n      }\n    }\n\n    // Parse domain permissions\n    let permissions = {};\n    try { permissions = JSON.parse(tenantMatch.domain_permissions || '{}'); } catch(e) {}\n\n    // Check domain permission if a domain was requested\n    let permissionLevel = permissions['*'] || null;\n    if (requestedDomain && requestedDomain !== '*') {\n      permissionLevel = permissions[requestedDomain] || permissions['*'] || null;\n      if (!permissionLevel) {\n        return { authorized: false, error: 'Domain not authorized: ' + requestedDomain };\n      }\n    }\n\n    // Admin alert — logs + Slack notification\n    const isAdmin = tenantMatch.client_id === 'ascend_admin';\n    if (isAdmin) {\n      const alertMsg = '⚠️ ADMIN KEY USED via MCP — client_id: ascend_admin, domain: ' + (requestedDomain || 'n/a') + ', timestamp: ' + new Date().toISOString();\n      console.log(alertMsg);\n      const slackUrl = $vars.SLACK_WEBHOOK_URL;\n      if (slackUrl) {\n        try {\n          await context.helpers.httpRequest({\n            method: 'POST', url: slackUrl,\n            headers: { 'Content-Type': 'application/json' },\n            body: { text: alertMsg },\n            timeout: 3000\n          });\n        } catch(e) { /* Slack alert is best-effort */ }\n      }\n    }\n\n    return {\n      authorized: true,\n      clientId: tenantMatch.client_id,\n      permissionLevel: permissionLevel || 'read',\n      rateLimitPerMinute: tenantMatch.rate_limit_per_minute || 60,\n      credentialSet: tenantMatch.credential_set || 'default',\n      authSource: 'tenant_auth',\n      isAdmin\n    };\n  } catch (e) {\n    // Fail-closed on error\n    return { authorized: false, error: 'Auth service unavailable: ' + e.message };\n  }\n}\n// ===== END AUTH MIDDLEWARE =====\n\n\n// Auth check\nconst authResult = await authenticateRequest.call(this, this, '*');\nif (!authResult.authorized) {\n  return JSON.stringify({ error: authResult.error, code: 403 });\n}\n// list_domains: Returns all active domains from api_registry_v2\n// Reads enablement from registry (single source of truth) and health from credential_health DataTable\n// Principle 3: Config-driven — zero hardcoded domain sets\nconst apiKey = $vars.N8N_INTERNAL_API_KEY;\nconst registryId = $vars.REGISTRY_V2_API_TABLE_ID;\nconst actionMapId = $vars.REGISTRY_V2_ACTION_TABLE_ID;\nconst credHealthId = $vars.CREDENTIAL_HEALTH_TABLE_ID;\nconst n8nHost = $vars.N8N_HOST;\n\n// Helper: paginated DataTable fetch\nasync function fetchAllRows(tableId) {\n  let rows = [], cursor = '', hasMore = true;\n  while (hasMore) {\n    const url = `${n8nHost}/api/v1/data-tables/${tableId}/rows?limit=250${cursor ? '&cursor=' + cursor : ''}`;\n    const resp = await this.helpers.httpRequest({ method: 'GET', url, headers: { 'X-N8N-API-KEY': apiKey } });\n    rows = rows.concat(resp.data || []);\n    cursor = resp.nextCursor || '';\n    hasMore = !!resp.nextCursor && resp.data && resp.data.length > 0;\n  }\n  return rows;\n}\n\n// Fetch registry, action map, and credential health in parallel-ish (sequential but all fetched)\nconst [regRows, actRows, healthRows] = await Promise.all([\n  fetchAllRows.call(this, registryId),\n  fetchAllRows.call(this, actionMapId),\n  fetchAllRows.call(this, credHealthId)\n]);\n\n// Count enabled actions per domain (deduplicated by action name)\nconst actionSets = {};\nfor (const a of actRows) {\n  if (a.enabled === true || a.enabled === 'true') {\n    if (!actionSets[a.api_name]) actionSets[a.api_name] = new Set();\n    actionSets[a.api_name].add(a.action);\n  }\n}\nconst actionCounts = {};\nfor (const [k, v] of Object.entries(actionSets)) actionCounts[k] = v.size;\n\n// Build credential health map (highest ID per domain = latest)\nconst healthMap = {};\nfor (const r of healthRows) {\n  const d = r.domain || 'unknown';\n  if (!healthMap[d] || r.id > healthMap[d].id) {\n    healthMap[d] = r;\n  }\n}\n\n// Filter: enabled in registry + has actions\nconst domains = regRows\n  .filter(r => (r.enabled === true || r.enabled === 'true'))\n  .map(r => {\n    const health = healthMap[r.api_name] || {};\n    const healthStatus = health.status || 'unknown';\n    return {\n      domain: r.api_name,\n      category: r.category || 'other',\n      auth_type: r.auth_type || 'unknown',\n      actions_count: actionCounts[r.api_name] || 0,\n      health: healthStatus,\n      health_note: (healthStatus !== 'healthy' && health.notes) ? health.notes : undefined\n    };\n  });\n\n// Deduplicate by domain name, filter out domains with zero actions\nconst unique = [...new Map(domains.map(d => [d.domain, d])).values()]\n  .filter(d => d.actions_count > 0);\n\nreturn JSON.stringify({ domains: unique, count: unique.length, note: 'Use list_actions with a domain name to see available actions' });"
        },
        "name": "list_domains",
        "type": "@n8n/n8n-nodes-langchain.toolCode",
        "typeVersion": 1,
        "position": [
          700,
          100
        ],
        "id": "bb78a47c-43e9-4662-ae55-05569d72cc5d"
      },
      {
        "parameters": {
          "name": "list_actions",
          "description": "Lists all available actions for a specific API domain. Input: domain (string) - the API domain name from list_domains. Returns action names, HTTP methods, descriptions, and body modes.",
          "language": "javaScript",
          "jsCode": "// ===== AUTH MIDDLEWARE (injected into each MCP tool) =====\n// Validates the MCP bearer token against tenant_auth DataTable\n// Returns: { authorized: true, clientId, permissionLevel, ... } or throws/returns error\nconst crypto = require('crypto');\n\nasync function authenticateRequest(context, requestedDomain) {\n  const n8nHost = $vars.N8N_HOST;\n  const internalKey = $vars.N8N_INTERNAL_API_KEY;\n  const tenantAuthTableId = $vars.TENANT_AUTH_TABLE_ID;\n  const bearerToken = $vars.MCP_GATEWAY_BEARER_TOKEN;\n  \n  if (!tenantAuthTableId || !bearerToken) {\n    // Fail-closed: if config missing, deny\n    return { authorized: false, error: 'Auth service unavailable: missing configuration' };\n  }\n\n  function verifyApiKey(plainTextKey, storedHash) {\n    const parts = storedHash.split(':');\n    if (parts.length !== 3 || parts[0] !== 'sha256') return false;\n    const salt = parts[1];\n    const expectedHash = parts[2];\n    const actualHash = crypto.createHash('sha256').update(salt + plainTextKey).digest('hex');\n    return actualHash === expectedHash;\n  }\n\n  try {\n    // Fetch tenant_auth rows\n    let allRows = [];\n    let cursor = '';\n    let hasMore = true;\n    while (hasMore) {\n      const url = `${n8nHost}/api/v1/data-tables/${tenantAuthTableId}/rows?limit=250${cursor ? '&cursor=' + cursor : ''}`;\n      const resp = await context.helpers.httpRequest({\n        method: 'GET', url,\n        headers: { 'X-N8N-API-KEY': internalKey }\n      });\n      allRows = allRows.concat(resp.data || []);\n      cursor = resp.nextCursor || '';\n      hasMore = !!resp.nextCursor && resp.data && resp.data.length > 0;\n    }\n\n    // Find matching tenant\n    let tenantMatch = null;\n    for (const row of allRows) {\n      if (!row.api_key_hash) continue;\n      if (verifyApiKey(bearerToken, row.api_key_hash)) {\n        tenantMatch = row;\n        break;\n      }\n    }\n\n    if (!tenantMatch) {\n      // Bearer token not in tenant_auth — might still be valid via n8n's built-in auth\n      // Allow through with minimal context (backward compat during migration)\n      return { authorized: true, clientId: 'mcp_default', permissionLevel: 'read_write', authSource: 'bearer_passthrough', isAdmin: false };\n    }\n\n    // Check active\n    if (tenantMatch.active !== true && tenantMatch.active !== 'true') {\n      return { authorized: false, error: 'API key deactivated' };\n    }\n\n    // Check expiry\n    if (tenantMatch.expires_at && tenantMatch.expires_at !== 'never') {\n      if (new Date(tenantMatch.expires_at) < new Date()) {\n        return { authorized: false, error: 'API key expired' };\n      }\n    }\n\n    // Parse domain permissions\n    let permissions = {};\n    try { permissions = JSON.parse(tenantMatch.domain_permissions || '{}'); } catch(e) {}\n\n    // Check domain permission if a domain was requested\n    let permissionLevel = permissions['*'] || null;\n    if (requestedDomain && requestedDomain !== '*') {\n      permissionLevel = permissions[requestedDomain] || permissions['*'] || null;\n      if (!permissionLevel) {\n        return { authorized: false, error: 'Domain not authorized: ' + requestedDomain };\n      }\n    }\n\n    // Admin alert — logs + Slack notification\n    const isAdmin = tenantMatch.client_id === 'ascend_admin';\n    if (isAdmin) {\n      const alertMsg = '⚠️ ADMIN KEY USED via MCP — client_id: ascend_admin, domain: ' + (requestedDomain || 'n/a') + ', timestamp: ' + new Date().toISOString();\n      console.log(alertMsg);\n      const slackUrl = $vars.SLACK_WEBHOOK_URL;\n      if (slackUrl) {\n        try {\n          await context.helpers.httpRequest({\n            method: 'POST', url: slackUrl,\n            headers: { 'Content-Type': 'application/json' },\n            body: { text: alertMsg },\n            timeout: 3000\n          });\n        } catch(e) { /* Slack alert is best-effort */ }\n      }\n    }\n\n    return {\n      authorized: true,\n      clientId: tenantMatch.client_id,\n      permissionLevel: permissionLevel || 'read',\n      rateLimitPerMinute: tenantMatch.rate_limit_per_minute || 60,\n      credentialSet: tenantMatch.credential_set || 'default',\n      authSource: 'tenant_auth',\n      isAdmin\n    };\n  } catch (e) {\n    // Fail-closed on error\n    return { authorized: false, error: 'Auth service unavailable: ' + e.message };\n  }\n}\n// ===== END AUTH MIDDLEWARE =====\n\n// Auth check deferred to after domain parse\n// Parse MCP tool input from query string\nlet parsedInput = {};\ntry {\n  if (typeof query === 'string' && query.trim()) {\n    parsedInput = JSON.parse(query);\n  }\n} catch(e) {\n  parsedInput = { input: query };\n}\nconst $input = { item: { json: parsedInput } };\n// List all actions for a given domain from action_map_v2\n// Principle 3: All IDs from $vars. Principle 6: Error handling.\nconst apiKey = $vars.N8N_INTERNAL_API_KEY;\nconst tableId = $vars.REGISTRY_V2_ACTION_TABLE_ID;\nconst n8nHost = $vars.N8N_HOST;\nconst domain = $input.item.json.domain;\n\nif (!domain) {\n  return JSON.stringify({ error: 'domain parameter is required. Call list_domains first to see available domains.' });\n}\n\n// Auth check with domain\nconst authResult = await authenticateRequest.call(this, this, domain);\nif (!authResult.authorized) {\n  return JSON.stringify({ error: authResult.error, code: 403 });\n}\n\ntry {\n  let allRows = [];\n  let cursor = '';\n  let hasMore = true;\n\n  while (hasMore) {\n    const url = `${n8nHost}/api/v1/data-tables/${tableId}/rows?limit=250${cursor ? '&cursor=' + cursor : ''}`;\n    const response = await this.helpers.httpRequest({\n      method: 'GET', url,\n      headers: { 'X-N8N-API-KEY': apiKey }\n    });\n    allRows = allRows.concat(response.data || []);\n    cursor = response.nextCursor || '';\n    hasMore = !!response.nextCursor && response.data && response.data.length > 0;\n  }\n\n  // Filter by domain, deduplicate by action name (keep highest ID = latest)\n  const actionMap = new Map();\n  for (const r of allRows) {\n    if (r.api_name === domain && (r.enabled === true || r.enabled === 'true')) {\n      const existing = actionMap.get(r.action);\n      if (!existing || r.id > existing.id) {\n        actionMap.set(r.action, r);\n      }\n    }\n  }\n\n  const actions = [...actionMap.values()].map(r => ({\n    action: r.action,\n    method: r.method,\n    description: r.description || '',\n    body_mode: r.body_mode || 'standard'\n  }));\n\n  return JSON.stringify({ domain, actions, count: actions.length, note: 'Use get_action_schema with domain and action to see parameter details' });\n} catch (error) {\n  return JSON.stringify({ error: `Failed to fetch actions for ${domain}: ${error.message}`, domain });\n}"
        },
        "name": "list_actions",
        "type": "@n8n/n8n-nodes-langchain.toolCode",
        "typeVersion": 1,
        "position": [
          700,
          250
        ],
        "id": "710e3678-1f0e-4c07-998b-b3f55d6c06e2"
      },
      {
        "parameters": {
          "name": "get_action_schema",
          "description": "Returns the parameter schema, description, and example request for a specific action. Input: domain (string), action (string). Use this BEFORE execute_action to understand what parameters are needed.",
          "language": "javaScript",
          "jsCode": "// ===== AUTH MIDDLEWARE (injected into each MCP tool) =====\n// Validates the MCP bearer token against tenant_auth DataTable\n// Returns: { authorized: true, clientId, permissionLevel, ... } or throws/returns error\nconst crypto = require('crypto');\n\nasync function authenticateRequest(context, requestedDomain) {\n  const n8nHost = $vars.N8N_HOST;\n  const internalKey = $vars.N8N_INTERNAL_API_KEY;\n  const tenantAuthTableId = $vars.TENANT_AUTH_TABLE_ID;\n  const bearerToken = $vars.MCP_GATEWAY_BEARER_TOKEN;\n  \n  if (!tenantAuthTableId || !bearerToken) {\n    // Fail-closed: if config missing, deny\n    return { authorized: false, error: 'Auth service unavailable: missing configuration' };\n  }\n\n  function verifyApiKey(plainTextKey, storedHash) {\n    const parts = storedHash.split(':');\n    if (parts.length !== 3 || parts[0] !== 'sha256') return false;\n    const salt = parts[1];\n    const expectedHash = parts[2];\n    const actualHash = crypto.createHash('sha256').update(salt + plainTextKey).digest('hex');\n    return actualHash === expectedHash;\n  }\n\n  try {\n    // Fetch tenant_auth rows\n    let allRows = [];\n    let cursor = '';\n    let hasMore = true;\n    while (hasMore) {\n      const url = `${n8nHost}/api/v1/data-tables/${tenantAuthTableId}/rows?limit=250${cursor ? '&cursor=' + cursor : ''}`;\n      const resp = await context.helpers.httpRequest({\n        method: 'GET', url,\n        headers: { 'X-N8N-API-KEY': internalKey }\n      });\n      allRows = allRows.concat(resp.data || []);\n      cursor = resp.nextCursor || '';\n      hasMore = !!resp.nextCursor && resp.data && resp.data.length > 0;\n    }\n\n    // Find matching tenant\n    let tenantMatch = null;\n    for (const row of allRows) {\n      if (!row.api_key_hash) continue;\n      if (verifyApiKey(bearerToken, row.api_key_hash)) {\n        tenantMatch = row;\n        break;\n      }\n    }\n\n    if (!tenantMatch) {\n      // Bearer token not in tenant_auth — might still be valid via n8n's built-in auth\n      // Allow through with minimal context (backward compat during migration)\n      return { authorized: true, clientId: 'mcp_default', permissionLevel: 'read_write', authSource: 'bearer_passthrough', isAdmin: false };\n    }\n\n    // Check active\n    if (tenantMatch.active !== true && tenantMatch.active !== 'true') {\n      return { authorized: false, error: 'API key deactivated' };\n    }\n\n    // Check expiry\n    if (tenantMatch.expires_at && tenantMatch.expires_at !== 'never') {\n      if (new Date(tenantMatch.expires_at) < new Date()) {\n        return { authorized: false, error: 'API key expired' };\n      }\n    }\n\n    // Parse domain permissions\n    let permissions = {};\n    try { permissions = JSON.parse(tenantMatch.domain_permissions || '{}'); } catch(e) {}\n\n    // Check domain permission if a domain was requested\n    let permissionLevel = permissions['*'] || null;\n    if (requestedDomain && requestedDomain !== '*') {\n      permissionLevel = permissions[requestedDomain] || permissions['*'] || null;\n      if (!permissionLevel) {\n        return { authorized: false, error: 'Domain not authorized: ' + requestedDomain };\n      }\n    }\n\n    // Admin alert — logs + Slack notification\n    const isAdmin = tenantMatch.client_id === 'ascend_admin';\n    if (isAdmin) {\n      const alertMsg = '⚠️ ADMIN KEY USED via MCP — client_id: ascend_admin, domain: ' + (requestedDomain || 'n/a') + ', timestamp: ' + new Date().toISOString();\n      console.log(alertMsg);\n      const slackUrl = $vars.SLACK_WEBHOOK_URL;\n      if (slackUrl) {\n        try {\n          await context.helpers.httpRequest({\n            method: 'POST', url: slackUrl,\n            headers: { 'Content-Type': 'application/json' },\n            body: { text: alertMsg },\n            timeout: 3000\n          });\n        } catch(e) { /* Slack alert is best-effort */ }\n      }\n    }\n\n    return {\n      authorized: true,\n      clientId: tenantMatch.client_id,\n      permissionLevel: permissionLevel || 'read',\n      rateLimitPerMinute: tenantMatch.rate_limit_per_minute || 60,\n      credentialSet: tenantMatch.credential_set || 'default',\n      authSource: 'tenant_auth',\n      isAdmin\n    };\n  } catch (e) {\n    // Fail-closed on error\n    return { authorized: false, error: 'Auth service unavailable: ' + e.message };\n  }\n}\n// ===== END AUTH MIDDLEWARE =====\n\n// Auth check deferred to after domain parse\n// Parse MCP tool input from query string\nlet parsedInput = {};\ntry {\n  if (typeof query === 'string' && query.trim()) {\n    parsedInput = JSON.parse(query);\n  }\n} catch(e) {\n  parsedInput = { input: query };\n}\nconst $input = { item: { json: parsedInput } };\n\n// Get parameter schema for a specific domain+action from action_schemas_v1\nconst apiKey = $vars.N8N_INTERNAL_API_KEY;\nconst tableId = $vars.MCP_SCHEMA_TABLE_ID;\nconst domain = $input.item.json.domain;\nconst action = $input.item.json.action;\n\nif (!domain || !action) {\n  return JSON.stringify({ error: 'Both domain and action parameters are required' });\n}\n\n// Auth check with domain\nconst authResult = await authenticateRequest.call(this, this, domain);\nif (!authResult.authorized) {\n  return JSON.stringify({ error: authResult.error, code: 403 });\n}\n\nlet allRows = [];\nlet cursor = '';\nlet hasMore = true;\n\nwhile (hasMore) {\n  const url = `${$vars.N8N_HOST}/api/v1/data-tables/${tableId}/rows?limit=250${cursor ? '&cursor=' + cursor : ''}`;\n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: url,\n    headers: { 'X-N8N-API-KEY': apiKey }\n  });\n  \n  allRows = allRows.concat(response.data || []);\n  cursor = response.nextCursor || '';\n  hasMore = !!response.nextCursor && response.data && response.data.length > 0;\n}\n\n// Find ALL matching rows, pick the one with highest ID (most recently inserted = most enriched)\nconst matches = allRows.filter(r => r.domain === domain && r.action === action);\nif (matches.length === 0) {\n  return JSON.stringify({ error: `No schema found for ${domain}.${action}. Check domain and action names.` });\n}\nconst schema = matches.reduce((best, r) => (!best || r.id > best.id) ? r : best, null);\n\nlet paramSchema, exampleRequest;\ntry { paramSchema = JSON.parse(schema.param_schema || '{}'); } catch(e) { paramSchema = schema.param_schema; }\ntry { exampleRequest = JSON.parse(schema.example_request || '{}'); } catch(e) { exampleRequest = schema.example_request; }\n\nreturn JSON.stringify({\n  domain: schema.domain,\n  action: schema.action,\n  description: schema.description,\n  param_schema: paramSchema,\n  example_request: exampleRequest,\n  note: 'Use execute_action with these params to run the action'\n});\n"
        },
        "name": "get_action_schema",
        "type": "@n8n/n8n-nodes-langchain.toolCode",
        "typeVersion": 1,
        "position": [
          700,
          400
        ],
        "id": "515cfee3-b6f4-471f-87c6-b6a20e6a01f4"
      },
      {
        "parameters": {
          "name": "execute_action",
          "description": "Execute any API action through the gateway. Input: domain (string), action (string), client (string - 'kahuna' or 'ascend'), params (object - action-specific parameters).\n\nAVAILABLE DOMAINS AND ACTIONS (call directly — no need for list_domains/list_actions/get_action_schema first):\n\nAI: openai(audio_speech,audio_transcribe,audio_translate,chat,embeddings,files_list,files_upload,images,models,moderations,responses,responses_get,responses_get,responses_list_input_items,responses_list_input_items) | gemini(batch,batch_embed,batch_job_cancel,batch_job_delete,batch_job_get,batch_job_list,code,count_tokens,create_cache,delete_cache,delete_file,embed,file_search,file_search_store_create,file_search_store_delete,file_search_store_doc_delete,file_search_store_doc_get,file_search_store_doc_list,file_search_store_get,file_search_store_list,generate,get_cache,get_file,image,imagen,interact,list_caches,list_files,maps,model_info,models,multimodal_batch_embed,multimodal_embed,research,search,stream,tts,update_cache,upload_file,url_context,veo) | deepseek(chat,fim,models) | groq(audio_transcribe,audio_translate,chat,models) | openrouter(chat,generation,models) | perplexity(chat) | bedrock(converse,invoke,invoke,list_models) | anthropic(batch_cancel,batch_create,batch_get,batch_list,batch_results,count_tokens,messages,model_info,models) | ollama(chat,embeddings,generate,health,list_models,openai_chat,pull_model,show_model) | huggingface(chat,embeddings,image_generation,models,sentiment,summarization,text_generation,translation) | ollama(chat,embeddings,generate,health,list_models,openai_chat,pull_model,show_model) | bedrock(converse,invoke,invoke,list_models) | ollama(chat,embeddings,generate,health,list_models,openai_chat,pull_model,show_model)\n\nCRM: hubspot(associations,campaigns,companies,contacts,create,deals,forms,get,lists,meetings,notes,owners,pipelines,products,properties,raw,search,tasks,tickets,update,workflows) | salesforce(composite,create,delete,describe,get,limits,metadata,query,raw,search,update,upsert) | apollo(email_status,email_status,enrich,organization_enrich,organization_search,search) | gong(call_transcript,call_transcript,calls,calls,stats,stats,stats,users,users) | hubspot(associations,campaigns,companies,contacts,create,deals,forms,get,lists,meetings,notes,owners,pipelines,products,properties,raw,search,tasks,tickets,update,workflows) | salesforce(composite,create,delete,describe,get,limits,metadata,query,raw,search,update,upsert) | gong(call_transcript,call_transcript,calls,calls,stats,stats,stats,users,users)\n\nPRODUCTIVITY: google_sheets(append,batch_update,clear,create,list,read,write) | google_calendar(calendars,create,delete,free_busy,get,list,update) | google_docs(append,create,get) | google_slides(batch_update,create,get) | slack(list_channels,list_users,reactions_add,read_channel,read_thread,search,send,upload_file) | outlook(calendar_events,list,read,search,send) | onedrive(create_folder,get_file,list_files,search,upload) | excel(list_sheets,list_tables,list_workbooks,read_range,write_range) | notion(create_data_source,create_database,create_page,create_page_markdown,get_block_children,get_data_source,get_database,get_markdown,get_page,list_templates,query_data_source,query_database,search,update_markdown,update_page) | gmail(attachments,draft,labels,list,read,reply,search,send,threads,trash) | google_drive(copy,create,delete,download,export,get,list,move,permissions,search,update_trashed) | gmail(attachments,draft,labels,list,read,reply,search,send,threads,trash) | google_drive(copy,create,delete,download,export,get,list,move,permissions,search,update_trashed)\n\nMARKETING: meta_ads(ad_sets,campaigns,insights) | linkedin_ads(analytics,campaigns,company_intelligence,company_intelligence,creatives,predictive_audiences,predictive_audiences,revenue_attribution,revenue_attribution) | wordpress(categories,create_post,delete_post,get_post,media,pages,posts,update_post) | semrush(backlinks,domain_overview,keyword_overview,organic_results) | google_ads(ad_groups,audience_definition,benchmarks,campaigns,creator_insights,custom_query,keywords,mutate) | google_ads(ad_groups,audience_definition,benchmarks,campaigns,creator_insights,custom_query,keywords,mutate) | microsoft_ads(accounts,ad_groups,ads,campaigns,keywords,report)\n\nANALYTICS: google_tag_manager(list_accounts,list_containers,list_tags,list_triggers,list_variables,list_versions) | ga4(enhanced_measurement,get_stream,list_streams,performance,realtime,report) | google_search_console(performance,query,reports,sitemaps)\n\nCMS: wordpress(categories,create_post,delete_post,get_post,media,pages,posts,update_post)\n\nCREATIVE: youtube(channel_stats,playlists,search,video_stats) | leonardo(generate,image_to_image,models,status,status,upscale,user) | gamma(generate,generate,generate,list_folders,list_folders,list_folders,list_themes,list_themes,list_themes,status,status,status,status)\n\nDEPLOYMENT: vercel(add_domain,create_env,get_deployment,get_deployment_logs,get_project,list_deployments,list_domains,list_env,list_projects,list_teams) | vercel(add_domain,create_env,get_deployment,get_deployment_logs,get_project,list_deployments,list_domains,list_env,list_projects,list_teams)\n\nBROWSER_AUTOMATION: browser_use(bu_create_session,bu_get_session) | browserbase(bb_create_session,bb_fetch,bb_get_session,bb_list_sessions) | e2b(e2b_create_sandbox,e2b_delete_sandbox) | browser(browser_session_list,browser_task,browser_task,browser_task_desktop,browser_task_dom,browser_task_status,browser_task_web,run_task,run_task) | browser(browser_session_list,browser_task,browser_task,browser_task_desktop,browser_task_dom,browser_task_status,browser_task_web,run_task,run_task)\n\nCOMPUTE: colab(colab_check_session,colab_execute_code)\n\nOTHER: github(create_or_update_file,delete_file,get_file,get_repo,get_tree,list_branches,list_commits,list_contents,list_repos,search_code)\n\nPLATFORM_OPS: handover(code_patch,create_workflow,datatable_insert,get_credential,get_governing_spec,get_handover_template,get_platform_context,get_session_state,get_skill_version,list_credentials,list_variables,list_workflows,log_change,read_rows,run_audit,run_preflight,safe_modify_workflow,set_variable,update_credential,update_session_state)\n\nPARAM HINTS: For 'passthrough' domains (AI, Apollo, Gong, Semrush, Vercel, etc), params go directly as the API body. For 'handler' domains (HubSpot, Google, Slack, etc), check get_action_schema if unsure about required params.",
          "language": "javaScript",
          "jsCode": "// ===== AUTH MIDDLEWARE (injected into each MCP tool) =====\n// Validates the MCP bearer token against tenant_auth DataTable\n// Returns: { authorized: true, clientId, permissionLevel, ... } or throws/returns error\nconst crypto = require('crypto');\n\nasync function authenticateRequest(context, requestedDomain) {\n  const n8nHost = $vars.N8N_HOST;\n  const internalKey = $vars.N8N_INTERNAL_API_KEY;\n  const tenantAuthTableId = $vars.TENANT_AUTH_TABLE_ID;\n  const bearerToken = $vars.MCP_GATEWAY_BEARER_TOKEN;\n  \n  if (!tenantAuthTableId || !bearerToken) {\n    // Fail-closed: if config missing, deny\n    return { authorized: false, error: 'Auth service unavailable: missing configuration' };\n  }\n\n  function verifyApiKey(plainTextKey, storedHash) {\n    const parts = storedHash.split(':');\n    if (parts.length !== 3 || parts[0] !== 'sha256') return false;\n    const salt = parts[1];\n    const expectedHash = parts[2];\n    const actualHash = crypto.createHash('sha256').update(salt + plainTextKey).digest('hex');\n    return actualHash === expectedHash;\n  }\n\n  try {\n    // Fetch tenant_auth rows\n    let allRows = [];\n    let cursor = '';\n    let hasMore = true;\n    while (hasMore) {\n      const url = `${n8nHost}/api/v1/data-tables/${tenantAuthTableId}/rows?limit=250${cursor ? '&cursor=' + cursor : ''}`;\n      const resp = await context.helpers.httpRequest({\n        method: 'GET', url,\n        headers: { 'X-N8N-API-KEY': internalKey }\n      });\n      allRows = allRows.concat(resp.data || []);\n      cursor = resp.nextCursor || '';\n      hasMore = !!resp.nextCursor && resp.data && resp.data.length > 0;\n    }\n\n    // Find matching tenant\n    let tenantMatch = null;\n    for (const row of allRows) {\n      if (!row.api_key_hash) continue;\n      if (verifyApiKey(bearerToken, row.api_key_hash)) {\n        tenantMatch = row;\n        break;\n      }\n    }\n\n    if (!tenantMatch) {\n      // Bearer token not in tenant_auth — might still be valid via n8n's built-in auth\n      // Allow through with minimal context (backward compat during migration)\n      return { authorized: true, clientId: 'mcp_default', permissionLevel: 'read_write', authSource: 'bearer_passthrough', isAdmin: false };\n    }\n\n    // Check active\n    if (tenantMatch.active !== true && tenantMatch.active !== 'true') {\n      return { authorized: false, error: 'API key deactivated' };\n    }\n\n    // Check expiry\n    if (tenantMatch.expires_at && tenantMatch.expires_at !== 'never') {\n      if (new Date(tenantMatch.expires_at) < new Date()) {\n        return { authorized: false, error: 'API key expired' };\n      }\n    }\n\n    // Parse domain permissions\n    let permissions = {};\n    try { permissions = JSON.parse(tenantMatch.domain_permissions || '{}'); } catch(e) {}\n\n    // Check domain permission if a domain was requested\n    let permissionLevel = permissions['*'] || null;\n    if (requestedDomain && requestedDomain !== '*') {\n      permissionLevel = permissions[requestedDomain] || permissions['*'] || null;\n      if (!permissionLevel) {\n        return { authorized: false, error: 'Domain not authorized: ' + requestedDomain };\n      }\n    }\n\n    // Admin alert — logs + Slack notification\n    const isAdmin = tenantMatch.client_id === 'ascend_admin';\n    if (isAdmin) {\n      const alertMsg = '⚠️ ADMIN KEY USED via MCP — client_id: ascend_admin, domain: ' + (requestedDomain || 'n/a') + ', timestamp: ' + new Date().toISOString();\n      console.log(alertMsg);\n      const slackUrl = $vars.SLACK_WEBHOOK_URL;\n      if (slackUrl) {\n        try {\n          await context.helpers.httpRequest({\n            method: 'POST', url: slackUrl,\n            headers: { 'Content-Type': 'application/json' },\n            body: { text: alertMsg },\n            timeout: 3000\n          });\n        } catch(e) { /* Slack alert is best-effort */ }\n      }\n    }\n\n    return {\n      authorized: true,\n      clientId: tenantMatch.client_id,\n      permissionLevel: permissionLevel || 'read',\n      rateLimitPerMinute: tenantMatch.rate_limit_per_minute || 60,\n      credentialSet: tenantMatch.credential_set || 'default',\n      authSource: 'tenant_auth',\n      isAdmin\n    };\n  } catch (e) {\n    // Fail-closed on error\n    return { authorized: false, error: 'Auth service unavailable: ' + e.message };\n  }\n}\n// ===== END AUTH MIDDLEWARE =====\n\n// ===== PERMISSION CHECKER (F1: 3-tier permission model) =====\n// Permission levels: read < read_write < admin\n// read: GET + low risk only\n// read_write: all methods except high-risk (DELETE bulk, dangerous ops)\n// admin: everything including high-risk\nfunction checkPermission(permissionLevel, method, riskLevel) {\n  if (!permissionLevel) return { allowed: false, reason: 'No permission level assigned' };\n  \n  if (permissionLevel === 'admin') return { allowed: true };\n  \n  if (permissionLevel === 'read_write') {\n    if (riskLevel === 'high') {\n      return { allowed: false, reason: \"Permission 'read_write' insufficient for high-risk operations (requires admin)\" };\n    }\n    return { allowed: true };\n  }\n  \n  if (permissionLevel === 'read') {\n    if (method !== 'GET' && method !== 'HEAD' && method !== 'OPTIONS') {\n      return { allowed: false, reason: \"Permission 'read' only allows GET/HEAD/OPTIONS methods\" };\n    }\n    if (riskLevel && riskLevel !== 'low') {\n      return { allowed: false, reason: \"Permission 'read' only allows low-risk endpoints\" };\n    }\n    return { allowed: true };\n  }\n  \n  return { allowed: false, reason: \"Unknown permission level: '\" + permissionLevel + \"'\" };\n}\n// ===== END PERMISSION CHECKER =====\n\n\n// ===== SSRF PROTECTION UTILITIES (A5) =====\n// Used by passthrough engine (Brief 3) and any HTTP request construction\nfunction validatePath(path) {\n  if (!path || typeof path !== 'string') {\n    return { valid: false, reason: 'Path is required and must be a string' };\n  }\n  // Reject path traversal attempts\n  if (path.includes('..') || path.includes('//')) {\n    return { valid: false, reason: 'Path traversal detected' };\n  }\n  // Reject null bytes\n  if (path.includes('\\\\0') || path.includes('%00')) {\n    return { valid: false, reason: 'Null byte in path' };\n  }\n  // Must start with /\n  if (!path.startsWith('/')) {\n    path = '/' + path;\n  }\n  return { valid: true, path: path };\n}\n\nfunction buildSafeUrl(baseUrl, path) {\n  // baseUrl comes from api_registry_v2 (trusted)\n  // path comes from client (untrusted)\n  const validated = validatePath(path);\n  if (!validated.valid) return { url: null, error: validated.reason };\n  // Strip trailing slash from baseUrl, ensure leading slash on path\n  const cleanBase = baseUrl.replace(/\\/+$/, '');\n  return { url: cleanBase + validated.path, error: null };\n}\n\nfunction validateRequestBody(body) {\n  if (!body) return { valid: true };\n  const bodyStr = typeof body === 'string' ? body : JSON.stringify(body);\n  // 1MB limit\n  if (bodyStr.length > 1048576) {\n    return { valid: false, reason: 'Request body exceeds 1MB limit' };\n  }\n  return { valid: true };\n}\n\n// HTTP request safety config for passthrough\nconst SAFE_HTTP_CONFIG = {\n  followRedirects: false,\n  maxRedirects: 0,\n  timeout: 30000\n};\n// ===== END SSRF PROTECTION =====\n\n\n// Auth check deferred to after domain parse\n// Parse MCP tool input from query string\nlet parsedInput = {};\ntry {\n  if (typeof query === 'string' && query.trim()) {\n    parsedInput = JSON.parse(query);\n  }\n} catch(e) {\n  parsedInput = { input: query };\n}\nconst $input = { item: { json: parsedInput } };\n// Execute any gateway action via v2 webhook\n// Principle 3: Config-driven — default client from $vars, key lookup from $vars\n// Principle 6: Error handling with try/catch\nconst domain = $input.item.json.domain;\nconst action = $input.item.json.action;\nconst client = $input.item.json.client || $vars.DEFAULT_TEST_TENANT;\nconst params = $input.item.json.params || {};\n\nif (!domain || !action) {\n  return JSON.stringify({ error: 'domain and action are required. Use list_domains and list_actions to discover available options.' });\n}\n\n// Auth check with domain + write permission check\nconst authResult = await authenticateRequest.call(this, this, domain);\nif (!authResult.authorized) {\n  return JSON.stringify({ error: authResult.error, code: 403 });\n}\n// F1: 3-tier permission check (read / read_write / admin)\n// Determine method and risk level from action name\nconst WRITE_PATTERNS_AUTH = /(?:^|[_.\\s])(create|update|send|reply|draft|move|copy|mutate|upsert|composite|write|append|clear|batch_update|upload|render|generate)(?:$|[_.\\s])/i;\nconst DELETE_PATTERNS = /(?:^|[_.\\s])(delete|remove|purge|destroy|bulk_delete|trash)(?:$|[_.\\s])/i;\nconst HIGH_RISK_PATTERNS = /(?:^|[_.\\s])(delete|bulk_delete|purge|destroy|permissions|admin)(?:$|[_.\\s])/i;\n\nlet inferredMethod = 'GET';\nlet inferredRisk = 'low';\nif (DELETE_PATTERNS.test(action)) {\n  inferredMethod = 'DELETE';\n  inferredRisk = 'high';\n} else if (HIGH_RISK_PATTERNS.test(action)) {\n  inferredMethod = 'POST';\n  inferredRisk = 'high';\n} else if (WRITE_PATTERNS_AUTH.test(action)) {\n  inferredMethod = 'POST';\n  inferredRisk = 'medium';\n}\n\nconst permCheck = checkPermission(authResult.permissionLevel, inferredMethod, inferredRisk);\nif (!permCheck.allowed) {\n  return JSON.stringify({ error: permCheck.reason + ' (domain: ' + domain + ', action: ' + action + ')', code: 403 });\n}\n\n// Gateway key for Orchestrator v2 call\nconst gwKey = $vars.key_master;\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: $vars.N8N_HOST + '/webhook/orchestrate-v2',\n    headers: {\n      'Content-Type': 'application/json',\n      'x-api-key': gwKey\n    },\n    body: { domain, action, client, params },\n    returnFullResponse: true,\n    timeout: 60000\n  });\n  \n  let body = response.body;\n  if (typeof body === 'string') {\n    try { body = JSON.parse(body); } catch(e) { /* keep as string */ }\n  }\n  \n  return JSON.stringify({ success: true, domain, action, client, result: body });\n} catch (error) {\n  return JSON.stringify({ \n    success: false, \n    error: error.message || 'Gateway call failed',\n    domain, action, client,\n    hint: 'Check get_health to see if the API is available'\n  });\n}"
        },
        "name": "execute_action",
        "type": "@n8n/n8n-nodes-langchain.toolCode",
        "typeVersion": 1,
        "position": [
          700,
          550
        ],
        "id": "8adc5468-14af-4606-958a-71ac73e96ec3"
      },
      {
        "parameters": {
          "name": "get_health",
          "description": "Returns the current health status of all gateway APIs. Shows which APIs are healthy, degraded, or down. No input required.",
          "language": "javaScript",
          "jsCode": "// ===== AUTH MIDDLEWARE (injected into each MCP tool) =====\n// Validates the MCP bearer token against tenant_auth DataTable\n// Returns: { authorized: true, clientId, permissionLevel, ... } or throws/returns error\nconst crypto = require('crypto');\n\nasync function authenticateRequest(context, requestedDomain) {\n  const n8nHost = $vars.N8N_HOST;\n  const internalKey = $vars.N8N_INTERNAL_API_KEY;\n  const tenantAuthTableId = $vars.TENANT_AUTH_TABLE_ID;\n  const bearerToken = $vars.MCP_GATEWAY_BEARER_TOKEN;\n  \n  if (!tenantAuthTableId || !bearerToken) {\n    // Fail-closed: if config missing, deny\n    return { authorized: false, error: 'Auth service unavailable: missing configuration' };\n  }\n\n  function verifyApiKey(plainTextKey, storedHash) {\n    const parts = storedHash.split(':');\n    if (parts.length !== 3 || parts[0] !== 'sha256') return false;\n    const salt = parts[1];\n    const expectedHash = parts[2];\n    const actualHash = crypto.createHash('sha256').update(salt + plainTextKey).digest('hex');\n    return actualHash === expectedHash;\n  }\n\n  try {\n    // Fetch tenant_auth rows\n    let allRows = [];\n    let cursor = '';\n    let hasMore = true;\n    while (hasMore) {\n      const url = `${n8nHost}/api/v1/data-tables/${tenantAuthTableId}/rows?limit=250${cursor ? '&cursor=' + cursor : ''}`;\n      const resp = await context.helpers.httpRequest({\n        method: 'GET', url,\n        headers: { 'X-N8N-API-KEY': internalKey }\n      });\n      allRows = allRows.concat(resp.data || []);\n      cursor = resp.nextCursor || '';\n      hasMore = !!resp.nextCursor && resp.data && resp.data.length > 0;\n    }\n\n    // Find matching tenant\n    let tenantMatch = null;\n    for (const row of allRows) {\n      if (!row.api_key_hash) continue;\n      if (verifyApiKey(bearerToken, row.api_key_hash)) {\n        tenantMatch = row;\n        break;\n      }\n    }\n\n    if (!tenantMatch) {\n      // Bearer token not in tenant_auth — might still be valid via n8n's built-in auth\n      // Allow through with minimal context (backward compat during migration)\n      return { authorized: true, clientId: 'mcp_default', permissionLevel: 'read_write', authSource: 'bearer_passthrough', isAdmin: false };\n    }\n\n    // Check active\n    if (tenantMatch.active !== true && tenantMatch.active !== 'true') {\n      return { authorized: false, error: 'API key deactivated' };\n    }\n\n    // Check expiry\n    if (tenantMatch.expires_at && tenantMatch.expires_at !== 'never') {\n      if (new Date(tenantMatch.expires_at) < new Date()) {\n        return { authorized: false, error: 'API key expired' };\n      }\n    }\n\n    // Parse domain permissions\n    let permissions = {};\n    try { permissions = JSON.parse(tenantMatch.domain_permissions || '{}'); } catch(e) {}\n\n    // Check domain permission if a domain was requested\n    let permissionLevel = permissions['*'] || null;\n    if (requestedDomain && requestedDomain !== '*') {\n      permissionLevel = permissions[requestedDomain] || permissions['*'] || null;\n      if (!permissionLevel) {\n        return { authorized: false, error: 'Domain not authorized: ' + requestedDomain };\n      }\n    }\n\n    // Admin alert — logs + Slack notification\n    const isAdmin = tenantMatch.client_id === 'ascend_admin';\n    if (isAdmin) {\n      const alertMsg = '⚠️ ADMIN KEY USED via MCP — client_id: ascend_admin, domain: ' + (requestedDomain || 'n/a') + ', timestamp: ' + new Date().toISOString();\n      console.log(alertMsg);\n      const slackUrl = $vars.SLACK_WEBHOOK_URL;\n      if (slackUrl) {\n        try {\n          await context.helpers.httpRequest({\n            method: 'POST', url: slackUrl,\n            headers: { 'Content-Type': 'application/json' },\n            body: { text: alertMsg },\n            timeout: 3000\n          });\n        } catch(e) { /* Slack alert is best-effort */ }\n      }\n    }\n\n    return {\n      authorized: true,\n      clientId: tenantMatch.client_id,\n      permissionLevel: permissionLevel || 'read',\n      rateLimitPerMinute: tenantMatch.rate_limit_per_minute || 60,\n      credentialSet: tenantMatch.credential_set || 'default',\n      authSource: 'tenant_auth',\n      isAdmin\n    };\n  } catch (e) {\n    // Fail-closed on error\n    return { authorized: false, error: 'Auth service unavailable: ' + e.message };\n  }\n}\n// ===== END AUTH MIDDLEWARE =====\n\n\n// Auth check\nconst authResult = await authenticateRequest.call(this, this, '*');\nif (!authResult.authorized) {\n  return JSON.stringify({ error: authResult.error, code: 403 });\n}\n\n// ============================================================\n// get_health — Gateway health from live E2E test data\n// ============================================================\n// Source: credential_health DataTable (populated by E2E suite)\n// Fallback: api_registry_v2 for domains without test data\n// Zero hardcoded values\n// ============================================================\n\nconst apiKey = $vars.N8N_INTERNAL_API_KEY;\nconst host = $vars.N8N_HOST;\nconst healthTableId = $vars.CREDENTIAL_HEALTH_TABLE_ID;\nconst registryId = $vars.REGISTRY_V2_API_TABLE_ID;\nconst base = host + '/api/v1';\n\nasync function fetchAllRows(tableId) {\n  let rows = [], cursor = '', more = true;\n  while (more) {\n    const url = base + '/data-tables/' + tableId + '/rows?limit=250' + (cursor ? '&cursor=' + cursor : '');\n    const resp = await this.helpers.httpRequest({ method: 'GET', url, headers: { 'X-N8N-API-KEY': apiKey } });\n    rows = rows.concat(resp.data || []);\n    cursor = resp.nextCursor || '';\n    more = !!resp.nextCursor && resp.data && resp.data.length > 0;\n  }\n  return rows;\n}\n\ntry {\n  // 1. Fetch credential_health — dedup by highest ID per domain\n  const healthRows = await fetchAllRows(healthTableId);\n  const healthByDomain = {};\n  for (const r of healthRows) {\n    const d = r.domain;\n    if (!d) continue;\n    if (!healthByDomain[d] || r.id > healthByDomain[d].id) healthByDomain[d] = r;\n  }\n\n  // 2. Fetch registry for complete domain list\n  const regRows = await fetchAllRows(registryId);\n  const regByDomain = {};\n  for (const r of regRows) {\n    const d = r.api_name;\n    if (!d) continue;\n    const enabled = r.enabled === true || r.enabled === 'true';\n    if (!regByDomain[d]) {\n      regByDomain[d] = { enabled, category: r.category || 'other' };\n    } else if (enabled) {\n      regByDomain[d].enabled = true;\n    }\n  }\n\n  // 3. Build health report\n  const healthy = [];\n  const degraded = [];\n  const down = [];\n  const allDomains = new Set([...Object.keys(healthByDomain), ...Object.keys(regByDomain)]);\n\n  for (const domain of [...allDomains].sort()) {\n    const health = healthByDomain[domain];\n    const reg = regByDomain[domain];\n    \n    if (!reg || !reg.enabled) {\n      if (health) down.push({ api: domain, status: 'disabled', source: 'registry' });\n      continue;\n    }\n\n    if (health && health.status) {\n      const entry = {\n        api: domain,\n        status: health.status,\n        actions_tested: health.actions_tested || 0,\n        actions_passed: health.actions_passed || 0,\n        last_checked: health.last_checked_at || 'unknown',\n        source: health.check_source || 'e2e_suite'\n      };\n      if (health.error_message) entry.error = String(health.error_message).slice(0, 150);\n      if (health.error_type && health.error_type !== 'none') entry.error_type = health.error_type;\n\n      if (health.status === 'healthy') healthy.push(entry);\n      else if (health.status === 'degraded') degraded.push(entry);\n      else down.push(entry);\n    } else {\n      degraded.push({ api: domain, status: 'untested', source: 'registry_only', category: reg.category });\n    }\n  }\n\n  const lastRun = Object.values(healthByDomain).reduce((latest, r) => {\n    return (!latest || (r.last_checked_at && r.last_checked_at > latest)) ? r.last_checked_at : latest;\n  }, null);\n\n  return JSON.stringify({\n    summary: healthy.length + ' healthy, ' + degraded.length + ' degraded/untested, ' + down.length + ' down/disabled',\n    healthy_count: healthy.length,\n    degraded_count: degraded.length,\n    down_count: down.length,\n    total_domains: allDomains.size,\n    healthy: healthy.map(h => h.api),\n    degraded,\n    down,\n    data_source: 'credential_health DataTable (E2E-tested)',\n    last_e2e_run: lastRun,\n    note: 'Live E2E test results. For manual retest: POST /webhook/health-check-v2'\n  });\n} catch (error) {\n  return JSON.stringify({ error: 'Health check failed: ' + (error.message || 'unknown error') });\n}\n"
        },
        "name": "get_health",
        "type": "@n8n/n8n-nodes-langchain.toolCode",
        "typeVersion": 1,
        "position": [
          700,
          700
        ],
        "id": "6dd1d76c-5cfa-4618-ad57-7ab67a303244"
      },
      {
        "parameters": {
          "name": "get_cost_summary",
          "description": "Returns AI API token usage and cost data. Optional input: days (number, default 30), provider (string - filter by AI domain), client_id (string - filter by client, non-admin users can only see their own costs). Returns aggregate cost breakdowns by domain and by client.",
          "language": "javaScript",
          "jsCode": "// ===== AUTH MIDDLEWARE (injected into each MCP tool) =====\n// Validates the MCP bearer token against tenant_auth DataTable\n// Returns: { authorized: true, clientId, permissionLevel, ... } or throws/returns error\nconst crypto = require('crypto');\n\nasync function authenticateRequest(context, requestedDomain) {\n  const n8nHost = $vars.N8N_HOST;\n  const internalKey = $vars.N8N_INTERNAL_API_KEY;\n  const tenantAuthTableId = $vars.TENANT_AUTH_TABLE_ID;\n  const bearerToken = $vars.MCP_GATEWAY_BEARER_TOKEN;\n  \n  if (!tenantAuthTableId || !bearerToken) {\n    // Fail-closed: if config missing, deny\n    return { authorized: false, error: 'Auth service unavailable: missing configuration' };\n  }\n\n  function verifyApiKey(plainTextKey, storedHash) {\n    const parts = storedHash.split(':');\n    if (parts.length !== 3 || parts[0] !== 'sha256') return false;\n    const salt = parts[1];\n    const expectedHash = parts[2];\n    const actualHash = crypto.createHash('sha256').update(salt + plainTextKey).digest('hex');\n    return actualHash === expectedHash;\n  }\n\n  try {\n    // Fetch tenant_auth rows\n    let allRows = [];\n    let cursor = '';\n    let hasMore = true;\n    while (hasMore) {\n      const url = `${n8nHost}/api/v1/data-tables/${tenantAuthTableId}/rows?limit=250${cursor ? '&cursor=' + cursor : ''}`;\n      const resp = await context.helpers.httpRequest({\n        method: 'GET', url,\n        headers: { 'X-N8N-API-KEY': internalKey }\n      });\n      allRows = allRows.concat(resp.data || []);\n      cursor = resp.nextCursor || '';\n      hasMore = !!resp.nextCursor && resp.data && resp.data.length > 0;\n    }\n\n    // Find matching tenant\n    let tenantMatch = null;\n    for (const row of allRows) {\n      if (!row.api_key_hash) continue;\n      if (verifyApiKey(bearerToken, row.api_key_hash)) {\n        tenantMatch = row;\n        break;\n      }\n    }\n\n    if (!tenantMatch) {\n      // Bearer token not in tenant_auth — might still be valid via n8n's built-in auth\n      // Allow through with minimal context (backward compat during migration)\n      return { authorized: true, clientId: 'mcp_default', permissionLevel: 'read_write', authSource: 'bearer_passthrough', isAdmin: false };\n    }\n\n    // Check active\n    if (tenantMatch.active !== true && tenantMatch.active !== 'true') {\n      return { authorized: false, error: 'API key deactivated' };\n    }\n\n    // Check expiry\n    if (tenantMatch.expires_at && tenantMatch.expires_at !== 'never') {\n      if (new Date(tenantMatch.expires_at) < new Date()) {\n        return { authorized: false, error: 'API key expired' };\n      }\n    }\n\n    // Parse domain permissions\n    let permissions = {};\n    try { permissions = JSON.parse(tenantMatch.domain_permissions || '{}'); } catch(e) {}\n\n    // Check domain permission if a domain was requested\n    let permissionLevel = permissions['*'] || null;\n    if (requestedDomain && requestedDomain !== '*') {\n      permissionLevel = permissions[requestedDomain] || permissions['*'] || null;\n      if (!permissionLevel) {\n        return { authorized: false, error: 'Domain not authorized: ' + requestedDomain };\n      }\n    }\n\n    // Admin alert — logs + Slack notification\n    const isAdmin = tenantMatch.client_id === 'ascend_admin';\n    if (isAdmin) {\n      const alertMsg = '⚠️ ADMIN KEY USED via MCP — client_id: ascend_admin, domain: ' + (requestedDomain || 'n/a') + ', timestamp: ' + new Date().toISOString();\n      console.log(alertMsg);\n      const slackUrl = $vars.SLACK_WEBHOOK_URL;\n      if (slackUrl) {\n        try {\n          await context.helpers.httpRequest({\n            method: 'POST', url: slackUrl,\n            headers: { 'Content-Type': 'application/json' },\n            body: { text: alertMsg },\n            timeout: 3000\n          });\n        } catch(e) { /* Slack alert is best-effort */ }\n      }\n    }\n\n    return {\n      authorized: true,\n      clientId: tenantMatch.client_id,\n      permissionLevel: permissionLevel || 'read',\n      rateLimitPerMinute: tenantMatch.rate_limit_per_minute || 60,\n      credentialSet: tenantMatch.credential_set || 'default',\n      authSource: 'tenant_auth',\n      isAdmin\n    };\n  } catch (e) {\n    // Fail-closed on error\n    return { authorized: false, error: 'Auth service unavailable: ' + e.message };\n  }\n}\n// ===== END AUTH MIDDLEWARE =====\n\n\n// Auth check\nconst authResult = await authenticateRequest.call(this, this, '*');\nif (!authResult.authorized) {\n  return JSON.stringify({ error: authResult.error, code: 403 });\n}\n// Parse MCP tool input from query string\nlet parsedInput = {};\ntry {\n  if (typeof query === 'string' && query.trim()) {\n    parsedInput = JSON.parse(query);\n  }\n} catch(e) {\n  parsedInput = { input: query };\n}\nconst $input = { item: { json: parsedInput } };\n\n// F2: Per-client cost summary with optional client_id filter\nconst apiKey = $vars.N8N_INTERNAL_API_KEY;\nconst tableId = $vars.AI_COST_TRACKER_TABLE_ID;\nconst n8nHost = $vars.N8N_HOST;\nconst days = $input.item.json.days || 30;\nconst provider = $input.item.json.provider || '';\nconst clientFilter = $input.item.json.client_id || '';\n\n// Non-admin clients can only see their own costs\nconst isAdmin = authResult.isAdmin || authResult.clientId === 'ascend_admin';\nconst effectiveClientFilter = isAdmin ? clientFilter : authResult.clientId;\n\ntry {\n  // Paginated fetch of all cost rows\n  let rows = [];\n  let cursor = '';\n  let hasMore = true;\n  while (hasMore) {\n    const url = `${n8nHost}/api/v1/data-tables/${tableId}/rows?limit=250${cursor ? '&cursor=' + cursor : ''}`;\n    const resp = await this.helpers.httpRequest({\n      method: 'GET', url,\n      headers: { 'X-N8N-API-KEY': apiKey }\n    });\n    rows = rows.concat(resp.data || []);\n    cursor = resp.nextCursor || '';\n    hasMore = !!resp.nextCursor && resp.data && resp.data.length > 0;\n  }\n\n  // Filter by date\n  if (days) {\n    const cutoff = new Date(Date.now() - days * 86400000);\n    rows = rows.filter(r => new Date(r.timestamp || r.createdAt) >= cutoff);\n  }\n\n  // Filter by provider/domain\n  if (provider) {\n    rows = rows.filter(r => (r.domain || '').toLowerCase() === provider.toLowerCase());\n  }\n\n  // Filter by client (enforced for non-admin, optional for admin)\n  if (effectiveClientFilter) {\n    rows = rows.filter(r => (r.client || '').toLowerCase() === effectiveClientFilter.toLowerCase());\n  }\n\n  // Aggregate by domain\n  const byDomain = {};\n  for (const r of rows) {\n    const key = r.domain || 'unknown';\n    if (!byDomain[key]) byDomain[key] = { domain: key, total_tokens: 0, est_cost_usd: 0, requests: 0 };\n    byDomain[key].total_tokens += Number(r.total_tokens || 0);\n    byDomain[key].est_cost_usd += Number(r.est_cost_usd || 0);\n    byDomain[key].requests += 1;\n  }\n\n  // Aggregate by client (admin view)\n  const byClient = {};\n  for (const r of rows) {\n    const key = r.client || 'unknown';\n    if (!byClient[key]) byClient[key] = { client: key, total_tokens: 0, est_cost_usd: 0, requests: 0 };\n    byClient[key].total_tokens += Number(r.total_tokens || 0);\n    byClient[key].est_cost_usd += Number(r.est_cost_usd || 0);\n    byClient[key].requests += 1;\n  }\n\n  // Calculate totals\n  let totalCost = 0, totalTokens = 0, totalRequests = rows.length;\n  for (const v of Object.values(byDomain)) {\n    totalCost += v.est_cost_usd;\n    totalTokens += v.total_tokens;\n  }\n\n  const result = {\n    period_days: days,\n    filter_provider: provider || 'all',\n    filter_client: effectiveClientFilter || 'all',\n    total_requests: totalRequests,\n    total_tokens: totalTokens,\n    total_est_cost_usd: Math.round(totalCost * 1000000) / 1000000,\n    by_domain: Object.values(byDomain).map(d => ({ ...d, est_cost_usd: Math.round(d.est_cost_usd * 1000000) / 1000000 })).sort((a,b) => b.est_cost_usd - a.est_cost_usd),\n  };\n\n  // Only include by_client breakdown for admin\n  if (isAdmin && !effectiveClientFilter) {\n    result.by_client = Object.values(byClient).map(c => ({ ...c, est_cost_usd: Math.round(c.est_cost_usd * 1000000) / 1000000 })).sort((a,b) => b.est_cost_usd - a.est_cost_usd);\n  }\n\n  return JSON.stringify(result);\n} catch (error) {\n  return JSON.stringify({ error: 'Failed to fetch cost data: ' + error.message, period_days: days });\n}"
        },
        "name": "get_cost_summary",
        "type": "@n8n/n8n-nodes-langchain.toolCode",
        "typeVersion": 1,
        "position": [
          700,
          850
        ],
        "id": "01231ebf-54a7-4e53-8c8e-f9eb96517ec9"
      },
      {
        "parameters": {
          "name": "list_capabilities",
          "description": "Returns available API endpoints for a specific domain from the capability catalog. Input: domain (string, required) - the API domain name; executable_only (boolean, optional, default true) - filter to only executable endpoints. Use this to discover what endpoints are available for Tier 3 passthrough or to understand a domain's capabilities before using execute_passthrough.",
          "language": "javaScript",
          "jsCode": "// ===== AUTH MIDDLEWARE (injected into each MCP tool) =====\n// Validates the MCP bearer token against tenant_auth DataTable\n// Returns: { authorized: true, clientId, permissionLevel, ... } or throws/returns error\nconst crypto = require('crypto');\n\nasync function authenticateRequest(context, requestedDomain) {\n  const n8nHost = $vars.N8N_HOST;\n  const internalKey = $vars.N8N_INTERNAL_API_KEY;\n  const tenantAuthTableId = $vars.TENANT_AUTH_TABLE_ID;\n  const bearerToken = $vars.MCP_GATEWAY_BEARER_TOKEN;\n  \n  if (!tenantAuthTableId || !bearerToken) {\n    // Fail-closed: if config missing, deny\n    return { authorized: false, error: 'Auth service unavailable: missing configuration' };\n  }\n\n  function verifyApiKey(plainTextKey, storedHash) {\n    const parts = storedHash.split(':');\n    if (parts.length !== 3 || parts[0] !== 'sha256') return false;\n    const salt = parts[1];\n    const expectedHash = parts[2];\n    const actualHash = crypto.createHash('sha256').update(salt + plainTextKey).digest('hex');\n    return actualHash === expectedHash;\n  }\n\n  try {\n    // Fetch tenant_auth rows\n    let allRows = [];\n    let cursor = '';\n    let hasMore = true;\n    while (hasMore) {\n      const url = `${n8nHost}/api/v1/data-tables/${tenantAuthTableId}/rows?limit=250${cursor ? '&cursor=' + cursor : ''}`;\n      const resp = await context.helpers.httpRequest({\n        method: 'GET', url,\n        headers: { 'X-N8N-API-KEY': internalKey }\n      });\n      allRows = allRows.concat(resp.data || []);\n      cursor = resp.nextCursor || '';\n      hasMore = !!resp.nextCursor && resp.data && resp.data.length > 0;\n    }\n\n    // Find matching tenant\n    let tenantMatch = null;\n    for (const row of allRows) {\n      if (!row.api_key_hash) continue;\n      if (verifyApiKey(bearerToken, row.api_key_hash)) {\n        tenantMatch = row;\n        break;\n      }\n    }\n\n    if (!tenantMatch) {\n      // Bearer token not in tenant_auth — might still be valid via n8n's built-in auth\n      // Allow through with minimal context (backward compat during migration)\n      return { authorized: true, clientId: 'mcp_default', permissionLevel: 'read_write', authSource: 'bearer_passthrough', isAdmin: false };\n    }\n\n    // Check active\n    if (tenantMatch.active !== true && tenantMatch.active !== 'true') {\n      return { authorized: false, error: 'API key deactivated' };\n    }\n\n    // Check expiry\n    if (tenantMatch.expires_at && tenantMatch.expires_at !== 'never') {\n      if (new Date(tenantMatch.expires_at) < new Date()) {\n        return { authorized: false, error: 'API key expired' };\n      }\n    }\n\n    // Parse domain permissions\n    let permissions = {};\n    try { permissions = JSON.parse(tenantMatch.domain_permissions || '{}'); } catch(e) {}\n\n    // Check domain permission if a domain was requested\n    let permissionLevel = permissions['*'] || null;\n    if (requestedDomain && requestedDomain !== '*') {\n      permissionLevel = permissions[requestedDomain] || permissions['*'] || null;\n      if (!permissionLevel) {\n        return { authorized: false, error: 'Domain not authorized: ' + requestedDomain };\n      }\n    }\n\n    // Admin alert — logs + Slack notification\n    const isAdmin = tenantMatch.client_id === 'ascend_admin';\n    if (isAdmin) {\n      const alertMsg = '⚠️ ADMIN KEY USED via MCP — client_id: ascend_admin, domain: ' + (requestedDomain || 'n/a') + ', timestamp: ' + new Date().toISOString();\n      console.log(alertMsg);\n      const slackUrl = $vars.SLACK_WEBHOOK_URL;\n      if (slackUrl) {\n        try {\n          await context.helpers.httpRequest({\n            method: 'POST', url: slackUrl,\n            headers: { 'Content-Type': 'application/json' },\n            body: { text: alertMsg },\n            timeout: 3000\n          });\n        } catch(e) { /* Slack alert is best-effort */ }\n      }\n    }\n\n    return {\n      authorized: true,\n      clientId: tenantMatch.client_id,\n      permissionLevel: permissionLevel || 'read',\n      rateLimitPerMinute: tenantMatch.rate_limit_per_minute || 60,\n      credentialSet: tenantMatch.credential_set || 'default',\n      authSource: 'tenant_auth',\n      isAdmin\n    };\n  } catch (e) {\n    // Fail-closed on error\n    return { authorized: false, error: 'Auth service unavailable: ' + e.message };\n  }\n}\n// ===== END AUTH MIDDLEWARE =====\n\n\n// Auth check — domain-scoped\nlet parsedInput = {};\ntry {\n  if (typeof query === 'string' && query.trim()) {\n    parsedInput = JSON.parse(query);\n  }\n} catch(e) {\n  parsedInput = { input: query };\n}\nconst $input = { item: { json: parsedInput } };\n\nconst domain = $input.item.json.domain;\nconst executableOnly = $input.item.json.executable_only !== false;\n\nif (!domain) {\n  return JSON.stringify({ error: 'domain parameter is required. Call list_domains first to see available domains.' });\n}\n\nconst authResult = await authenticateRequest.call(this, this, domain);\nif (!authResult.authorized) {\n  return JSON.stringify({ error: authResult.error, code: 403 });\n}\n\n// list_capabilities: Returns available endpoints for a domain from capability_catalog\n// Supports filtering by executable flag\nconst apiKey = $vars.N8N_INTERNAL_API_KEY;\nconst catalogTableId = $vars.CAPABILITY_CATALOG_TABLE_ID;\nconst n8nHost = $vars.N8N_HOST;\n\nif (!catalogTableId) {\n  return JSON.stringify({ error: 'Capability catalog not configured (CAPABILITY_CATALOG_TABLE_ID missing)' });\n}\n\ntry {\n  // Fetch all catalog rows (paginated)\n  let allRows = [];\n  let cursor = '';\n  let hasMore = true;\n  while (hasMore) {\n    const url = `${n8nHost}/api/v1/data-tables/${catalogTableId}/rows?limit=250${cursor ? '&cursor=' + cursor : ''}`;\n    const resp = await this.helpers.httpRequest({\n      method: 'GET', url,\n      headers: { 'X-N8N-API-KEY': apiKey }\n    });\n    allRows = allRows.concat(resp.data || []);\n    cursor = resp.nextCursor || '';\n    hasMore = !!resp.nextCursor && resp.data && resp.data.length > 0;\n  }\n\n  // Find the row for this domain\n  const row = allRows.find(r => r.domain === domain);\n  if (!row) {\n    return JSON.stringify({ \n      error: `Domain '${domain}' not found in capability catalog`,\n      hint: 'Call list_domains to see available domains'\n    });\n  }\n\n  // Parse endpoints JSON\n  let endpoints = [];\n  try {\n    endpoints = JSON.parse(row.endpoints || '[]');\n  } catch(e) {\n    return JSON.stringify({ error: `Failed to parse endpoints for ${domain}: ${e.message}` });\n  }\n\n  // Filter by executable if requested\n  const allEndpoints = endpoints;\n  if (executableOnly) {\n    endpoints = endpoints.filter(e => e.executable === true);\n  }\n\n  // Group by category for cleaner output\n  const byCategory = {};\n  for (const ep of endpoints) {\n    const cat = ep.category || 'general';\n    if (!byCategory[cat]) byCategory[cat] = [];\n    byCategory[cat].push({\n      path: ep.path,\n      method: ep.method,\n      description: ep.description,\n      risk_level: ep.risk_level,\n      executable: ep.executable,\n      parameters: ep.parameters || undefined\n    });\n  }\n\n  return JSON.stringify({\n    domain,\n    tier: row.tier,\n    version: row.version,\n    last_updated: row.last_updated,\n    endpoint_count: endpoints.length,\n    total_endpoints: allEndpoints.length,\n    endpoints_by_category: byCategory,\n    note: executableOnly \n      ? 'Showing executable endpoints only. Set executable_only=false to see all.' \n      : 'Showing all endpoints including non-executable (documentation only).'\n  });\n} catch (error) {\n  return JSON.stringify({ error: `Failed to fetch capabilities for ${domain}: ${error.message}` });\n}\n",
          "code": ""
        },
        "name": "list_capabilities",
        "type": "@n8n/n8n-nodes-langchain.toolCode",
        "typeVersion": 1,
        "position": [
          700,
          1000
        ],
        "id": "07595b6f-2a69-4139-b36c-ce9f4d08c13b"
      },
      {
        "parameters": {
          "name": "execute_passthrough",
          "description": "Execute a validated passthrough request to any Tier 3 API (AI engines, business APIs with API key auth). The gateway validates the endpoint against the capability catalog, injects credentials, forwards the request, and logs to audit. Use list_capabilities to discover available endpoints first.\n\nParameters (JSON):\n- domain (required): API domain name (e.g., 'deepseek', 'anthropic', 'notion', 'github')\n- path (required): Endpoint path (e.g., '/v1/chat/completions')\n- method (required): HTTP method (GET, POST, PUT, DELETE, PATCH)\n- body (optional): Request body as JSON object\n- query_params (optional): Query string parameters as JSON object\n- headers (optional): Additional headers (auth headers are injected automatically)",
          "language": "javaScript",
          "jsCode": "// ===== AUTH MIDDLEWARE (injected into each MCP tool) =====\n// Validates the MCP bearer token against tenant_auth DataTable\n// Returns: { authorized: true, clientId, permissionLevel, ... } or throws/returns error\nconst crypto = require('crypto');\n\nasync function authenticateRequest(context, requestedDomain) {\n  const n8nHost = $vars.N8N_HOST;\n  const internalKey = $vars.N8N_INTERNAL_API_KEY;\n  const tenantAuthTableId = $vars.TENANT_AUTH_TABLE_ID;\n  const bearerToken = $vars.MCP_GATEWAY_BEARER_TOKEN;\n  \n  if (!tenantAuthTableId || !bearerToken) {\n    // Fail-closed: if config missing, deny\n    return { authorized: false, error: 'Auth service unavailable: missing configuration' };\n  }\n\n  function verifyApiKey(plainTextKey, storedHash) {\n    const parts = storedHash.split(':');\n    if (parts.length !== 3 || parts[0] !== 'sha256') return false;\n    const salt = parts[1];\n    const expectedHash = parts[2];\n    const actualHash = crypto.createHash('sha256').update(salt + plainTextKey).digest('hex');\n    return actualHash === expectedHash;\n  }\n\n  try {\n    // Fetch tenant_auth rows\n    let allRows = [];\n    let cursor = '';\n    let hasMore = true;\n    while (hasMore) {\n      const url = `${n8nHost}/api/v1/data-tables/${tenantAuthTableId}/rows?limit=250${cursor ? '&cursor=' + cursor : ''}`;\n      const resp = await context.helpers.httpRequest({\n        method: 'GET', url,\n        headers: { 'X-N8N-API-KEY': internalKey }\n      });\n      allRows = allRows.concat(resp.data || []);\n      cursor = resp.nextCursor || '';\n      hasMore = !!resp.nextCursor && resp.data && resp.data.length > 0;\n    }\n\n    // Find matching tenant\n    let tenantMatch = null;\n    for (const row of allRows) {\n      if (!row.api_key_hash) continue;\n      if (verifyApiKey(bearerToken, row.api_key_hash)) {\n        tenantMatch = row;\n        break;\n      }\n    }\n\n    if (!tenantMatch) {\n      // Bearer token not in tenant_auth — might still be valid via n8n's built-in auth\n      // Allow through with minimal context (backward compat during migration)\n      return { authorized: true, clientId: 'mcp_default', permissionLevel: 'read_write', authSource: 'bearer_passthrough', isAdmin: false };\n    }\n\n    // Check active\n    if (tenantMatch.active !== true && tenantMatch.active !== 'true') {\n      return { authorized: false, error: 'API key deactivated' };\n    }\n\n    // Check expiry\n    if (tenantMatch.expires_at && tenantMatch.expires_at !== 'never') {\n      if (new Date(tenantMatch.expires_at) < new Date()) {\n        return { authorized: false, error: 'API key expired' };\n      }\n    }\n\n    // Parse domain permissions\n    let permissions = {};\n    try { permissions = JSON.parse(tenantMatch.domain_permissions || '{}'); } catch(e) {}\n\n    // Check domain permission if a domain was requested\n    let permissionLevel = permissions['*'] || null;\n    if (requestedDomain && requestedDomain !== '*') {\n      permissionLevel = permissions[requestedDomain] || permissions['*'] || null;\n      if (!permissionLevel) {\n        return { authorized: false, error: 'Domain not authorized: ' + requestedDomain };\n      }\n    }\n\n    // Admin alert — logs + Slack notification\n    const isAdmin = tenantMatch.client_id === 'ascend_admin';\n    if (isAdmin) {\n      const alertMsg = '⚠️ ADMIN KEY USED via MCP — client_id: ascend_admin, domain: ' + (requestedDomain || 'n/a') + ', timestamp: ' + new Date().toISOString();\n      console.log(alertMsg);\n      const slackUrl = $vars.SLACK_WEBHOOK_URL;\n      if (slackUrl) {\n        try {\n          await context.helpers.httpRequest({\n            method: 'POST', url: slackUrl,\n            headers: { 'Content-Type': 'application/json' },\n            body: { text: alertMsg },\n            timeout: 3000\n          });\n        } catch(e) { /* Slack alert is best-effort */ }\n      }\n    }\n\n    return {\n      authorized: true,\n      clientId: tenantMatch.client_id,\n      permissionLevel: permissionLevel || 'read',\n      rateLimitPerMinute: tenantMatch.rate_limit_per_minute || 60,\n      credentialSet: tenantMatch.credential_set || 'default',\n      authSource: 'tenant_auth',\n      isAdmin\n    };\n  } catch (e) {\n    // Fail-closed on error\n    return { authorized: false, error: 'Auth service unavailable: ' + e.message };\n  }\n}\n// ===== END AUTH MIDDLEWARE =====\n\n// ===== SSRF PROTECTION UTILITIES =====\nfunction validatePath(path) {\n  if (!path || typeof path !== 'string') {\n    return { valid: false, reason: 'Path is required and must be a string' };\n  }\n  if (path.includes('..') || path.includes('//')) {\n    return { valid: false, reason: 'Path traversal detected' };\n  }\n  if (path.includes('\\0') || path.includes('%00')) {\n    return { valid: false, reason: 'Null byte in path' };\n  }\n  if (!path.startsWith('/')) {\n    path = '/' + path;\n  }\n  return { valid: true, path: path };\n}\n\nfunction buildSafeUrl(baseUrl, path) {\n  const validated = validatePath(path);\n  if (!validated.valid) return { url: null, error: validated.reason };\n  const cleanBase = baseUrl.replace(/\\/+$/, '');\n  return { url: cleanBase + validated.path, error: null };\n}\n\nfunction validateRequestBody(body) {\n  if (!body) return { valid: true };\n  const bodyStr = typeof body === 'string' ? body : JSON.stringify(body);\n  if (bodyStr.length > 1048576) {\n    return { valid: false, reason: 'Request body exceeds 1MB limit' };\n  }\n  return { valid: true };\n}\n// ===== END SSRF PROTECTION =====\n\n// ===== PERMISSION CHECKER (F1: 3-tier permission model) =====\n// Permission levels: read < read_write < admin\n// read: GET + low risk only\n// read_write: all methods except high-risk (DELETE bulk, dangerous ops)\n// admin: everything including high-risk\nfunction checkPermission(permissionLevel, method, riskLevel) {\n  if (!permissionLevel) return { allowed: false, reason: 'No permission level assigned' };\n  \n  if (permissionLevel === 'admin') return { allowed: true };\n  \n  if (permissionLevel === 'read_write') {\n    if (riskLevel === 'high') {\n      return { allowed: false, reason: \"Permission 'read_write' insufficient for high-risk operations (requires admin)\" };\n    }\n    return { allowed: true };\n  }\n  \n  if (permissionLevel === 'read') {\n    if (method !== 'GET' && method !== 'HEAD' && method !== 'OPTIONS') {\n      return { allowed: false, reason: \"Permission 'read' only allows GET/HEAD/OPTIONS methods\" };\n    }\n    if (riskLevel && riskLevel !== 'low') {\n      return { allowed: false, reason: \"Permission 'read' only allows low-risk endpoints\" };\n    }\n    return { allowed: true };\n  }\n  \n  return { allowed: false, reason: \"Unknown permission level: '\" + permissionLevel + \"'\" };\n}\n// ===== END PERMISSION CHECKER =====\n\n\n// ===== PAGINATED DATATABLE FETCH =====\nasync function fetchAllRows(tableId) {\n  const apiKey = $vars.N8N_INTERNAL_API_KEY;\n  const n8nHost = $vars.N8N_HOST;\n  let rows = [], cursor = '', hasMore = true;\n  while (hasMore) {\n    const url = `${n8nHost}/api/v1/data-tables/${tableId}/rows?limit=250${cursor ? '&cursor=' + cursor : ''}`;\n    const resp = await this.helpers.httpRequest({ method: 'GET', url, headers: { 'X-N8N-API-KEY': apiKey } });\n    rows = rows.concat(resp.data || []);\n    cursor = resp.nextCursor || '';\n    hasMore = !!resp.nextCursor && resp.data && resp.data.length > 0;\n  }\n  return rows;\n}\n// ===== END HELPER =====\n\n// ===== AUDIT LOGGER =====\nasync function logAudit(entry) {\n  const auditWorkflowId = $vars.AUDIT_LOGGER_WORKFLOW_ID;\n  const n8nHost = $vars.N8N_HOST;\n  if (!auditWorkflowId) return; // Skip if not configured\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${n8nHost}/webhook/audit-logger`,\n      headers: { 'Content-Type': 'application/json' },\n      body: entry,\n      timeout: 5000\n    });\n  } catch (e) {\n    // Fail-open for audit in Phase 1 — don't block the request\n    console.log('Audit log warning: ' + e.message);\n  }\n}\n// ===== END AUDIT LOGGER =====\n\n// ===== COST LOGGER (F2: per-client cost tracking) =====\nconst AI_DOMAINS = new Set(['anthropic','openai','gemini','deepseek','groq','openrouter','perplexity','bedrock','ollama','huggingface','mistral','qwen']);\n\nasync function logCostForAI(domain, responseData, clientId) {\n  if (!AI_DOMAINS.has(domain)) return;\n  \n  const costTrackerTableId = $vars.AI_COST_TRACKER_TABLE_ID;\n  const n8nHost = $vars.N8N_HOST;\n  const apiKey = $vars.N8N_INTERNAL_API_KEY;\n  if (!costTrackerTableId) return;\n  \n  // Extract token counts — different providers use different fields\n  let prompt_tokens = 0, completion_tokens = 0, total_tokens = 0;\n  let model = 'unknown';\n  \n  const data = typeof responseData === 'string' ? (() => { try { return JSON.parse(responseData); } catch(e) { return {}; } })() : (responseData || {});\n  \n  if (data.usage) {\n    prompt_tokens = data.usage.prompt_tokens || 0;\n    completion_tokens = data.usage.completion_tokens || 0;\n    total_tokens = data.usage.total_tokens || (prompt_tokens + completion_tokens);\n  } else if (data.usageMetadata) {\n    prompt_tokens = data.usageMetadata.promptTokenCount || 0;\n    completion_tokens = data.usageMetadata.candidatesTokenCount || 0;\n    total_tokens = data.usageMetadata.totalTokenCount || (prompt_tokens + completion_tokens);\n  }\n  \n  if (data.model) model = data.model;\n  else if (data.choices && data.choices[0] && data.choices[0].model) model = data.choices[0].model;\n  \n  // Estimate cost per 1M tokens\n  const costPer1M = {\n    'anthropic': { input: 3.00, output: 15.00 },\n    'openai': { input: 2.50, output: 10.00 },\n    'groq': { input: 0.05, output: 0.08 },\n    'deepseek': { input: 0.14, output: 0.28 },\n    'openrouter': { input: 1.00, output: 3.00 },\n    'gemini': { input: 0.075, output: 0.30 },\n    'perplexity': { input: 0.20, output: 0.60 },\n    'huggingface': { input: 0.10, output: 0.20 },\n    'mistral': { input: 0.25, output: 0.75 },\n    'qwen': { input: 0.14, output: 0.28 },\n    'ollama': { input: 0, output: 0 },\n    'bedrock': { input: 2.00, output: 8.00 }\n  };\n  \n  const rates = costPer1M[domain] || { input: 1.00, output: 3.00 };\n  const est_cost_usd = ((prompt_tokens * rates.input) + (completion_tokens * rates.output)) / 1000000;\n  \n  const action = 'passthrough';\n  \n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${n8nHost}/api/v1/data-tables/${costTrackerTableId}/rows`,\n      headers: { 'X-N8N-API-KEY': apiKey, 'Content-Type': 'application/json' },\n      body: { data: [{\n        domain,\n        action,\n        client: clientId,\n        model,\n        prompt_tokens,\n        completion_tokens,\n        total_tokens,\n        est_cost_usd: Math.round(est_cost_usd * 1000000) / 1000000,\n        timestamp: new Date().toISOString(),\n        date: new Date().toISOString().split('T')[0]\n      }] },\n      timeout: 5000\n    });\n  } catch (e) {\n    // Fail-open for cost logging — don't block the request\n    console.log('Cost log warning: ' + e.message);\n  }\n}\n// ===== END COST LOGGER =====\n\n\n// ===== RATE LIMITER =====\nasync function checkRateLimit(clientId, rateLimitPerMinute) {\n  if (!rateLimitPerMinute || rateLimitPerMinute <= 0) return { allowed: true };\n  const n8nHost = $vars.N8N_HOST;\n  const apiKey = $vars.N8N_INTERNAL_API_KEY;\n  const rateLimitTableId = $vars.RATE_LIMIT_TABLE_ID;\n  if (!rateLimitTableId) return { allowed: true }; // Skip if not configured\n  \n  const now = new Date();\n  const currentMinute = now.toISOString().substring(0, 16); // e.g. \"2026-03-14T10:05\"\n  \n  try {\n    // Fetch current minute's rows for this client\n    const rows = await fetchAllRows.call(this, rateLimitTableId);\n    const clientRows = rows.filter(r => r.client === clientId && r.hour === currentMinute);\n    \n    if (clientRows.length >= rateLimitPerMinute) {\n      return { allowed: false, current: clientRows.length, limit: rateLimitPerMinute };\n    }\n    \n    // Increment counter — add a row\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: `${n8nHost}/api/v1/data-tables/${rateLimitTableId}/rows`,\n      headers: { 'X-N8N-API-KEY': apiKey, 'Content-Type': 'application/json' },\n      body: { data: [{ client: clientId, domain: 'passthrough', hour: currentMinute, ts: now.toISOString() }] }\n    });\n    \n    return { allowed: true, current: clientRows.length + 1, limit: rateLimitPerMinute };\n  } catch (e) {\n    // Fail-closed on rate limit check failure\n    return { allowed: true }; // Degrade to allow — rate limiting is approximate\n  }\n}\n// ===== END RATE LIMITER =====\n\n// ===== MAIN: execute_passthrough =====\nconst requestId = crypto.randomUUID();\nconst startTime = Date.now();\n\n// Parse input\nlet parsedInput = {};\ntry {\n  if (typeof query === 'string' && query.trim()) {\n    parsedInput = JSON.parse(query);\n  }\n} catch(e) {\n  parsedInput = { input: query };\n}\nconst $input = { item: { json: parsedInput } };\n\nconst domain = $input.item.json.domain;\nconst path = $input.item.json.path;\nconst method = ($input.item.json.method || 'GET').toUpperCase();\nconst body = $input.item.json.body || null;\nconst queryParams = $input.item.json.query_params || {};\nconst extraHeaders = $input.item.json.headers || {};\n\n// --- Validate required params ---\nif (!domain || !path) {\n  return JSON.stringify({ \n    error: 'domain and path are required. Use list_capabilities to discover endpoints.',\n    request_id: requestId \n  });\n}\n\nconst VALID_METHODS = ['GET', 'POST', 'PUT', 'DELETE', 'PATCH', 'HEAD', 'OPTIONS'];\nif (!VALID_METHODS.includes(method)) {\n  return JSON.stringify({ error: `Invalid HTTP method: ${method}`, request_id: requestId });\n}\n\n// --- Auth check ---\nconst authResult = await authenticateRequest.call(this, this, domain);\nif (!authResult.authorized) {\n  await logAudit.call(this, {\n    request_id: requestId, client_id: authResult.clientId || 'unknown', domain, \n    action_or_endpoint: `${method} ${path}`, method, decision: 'denied',\n    denial_reason: authResult.error, credential_set: '', status_code: 403,\n    response_time_ms: Date.now() - startTime\n  });\n  return JSON.stringify({ error: authResult.error, code: 403, request_id: requestId });\n}\n\n// --- F1: Unified 3-tier permission check (pre-catalog, method-level) ---\n// This catches obvious method-level violations early, before catalog lookup\nconst WRITE_METHODS = ['POST', 'PUT', 'DELETE', 'PATCH'];\nif (WRITE_METHODS.includes(method) && authResult.permissionLevel === 'read') {\n  await logAudit.call(this, {\n    request_id: requestId, client_id: authResult.clientId, domain,\n    action_or_endpoint: `${method} ${path}`, method, decision: 'denied',\n    denial_reason: \"Permission 'read' only allows GET/HEAD/OPTIONS methods\", credential_set: authResult.credentialSet || '',\n    status_code: 403, response_time_ms: Date.now() - startTime\n  });\n  return JSON.stringify({ \n    error: \"Permission 'read' only allows GET/HEAD/OPTIONS methods (domain: \" + domain + \")\", \n    code: 403, request_id: requestId \n  });\n}\n\n// --- Rate limit check ---\nconst rateResult = await checkRateLimit.call(this, authResult.clientId, authResult.rateLimitPerMinute);\nif (!rateResult.allowed) {\n  await logAudit.call(this, {\n    request_id: requestId, client_id: authResult.clientId, domain,\n    action_or_endpoint: `${method} ${path}`, method, decision: 'denied',\n    denial_reason: `Rate limit exceeded: ${rateResult.current}/${rateResult.limit} per minute`,\n    credential_set: authResult.credentialSet || '', status_code: 429,\n    response_time_ms: Date.now() - startTime\n  });\n  return JSON.stringify({ \n    error: `Rate limit exceeded (${rateResult.current}/${rateResult.limit} per minute)`,\n    code: 429, request_id: requestId \n  });\n}\n\n// --- SSRF: Validate path ---\nconst pathCheck = validatePath(path);\nif (!pathCheck.valid) {\n  await logAudit.call(this, {\n    request_id: requestId, client_id: authResult.clientId, domain,\n    action_or_endpoint: `${method} ${path}`, method, decision: 'denied',\n    denial_reason: pathCheck.reason, credential_set: authResult.credentialSet || '',\n    status_code: 400, response_time_ms: Date.now() - startTime\n  });\n  return JSON.stringify({ error: pathCheck.reason, code: 400, request_id: requestId });\n}\n\n// --- Body size check ---\nconst bodyCheck = validateRequestBody(body);\nif (!bodyCheck.valid) {\n  await logAudit.call(this, {\n    request_id: requestId, client_id: authResult.clientId, domain,\n    action_or_endpoint: `${method} ${path}`, method, decision: 'denied',\n    denial_reason: bodyCheck.reason, credential_set: authResult.credentialSet || '',\n    status_code: 413, response_time_ms: Date.now() - startTime\n  });\n  return JSON.stringify({ error: bodyCheck.reason, code: 413, request_id: requestId });\n}\n\n// --- Step 1: Look up domain in api_registry_v2 ---\nconst registryTableId = $vars.REGISTRY_V2_API_TABLE_ID;\nif (!registryTableId) {\n  return JSON.stringify({ error: 'Gateway configuration error: REGISTRY_V2_API_TABLE_ID missing', request_id: requestId });\n}\n\nlet registryRows;\ntry {\n  registryRows = await fetchAllRows.call(this, registryTableId);\n} catch (e) {\n  return JSON.stringify({ error: 'Failed to query domain registry: ' + e.message, request_id: requestId });\n}\n\n// Find matching enabled domain row — prefer highest version when duplicates exist\nconst enabledRows = registryRows.filter(r => r.api_name === domain && (r.enabled === true || r.enabled === 'true'));\nconst domainRow = enabledRows.length > 1\n  ? enabledRows.reduce((best, r) => (r.version || 0) > (best.version || 0) ? r : best)\n  : enabledRows[0] || null;\nif (!domainRow) {\n  await logAudit.call(this, {\n    request_id: requestId, client_id: authResult.clientId, domain,\n    action_or_endpoint: `${method} ${path}`, method, decision: 'denied',\n    denial_reason: `Domain '${domain}' not found or disabled in registry`,\n    credential_set: authResult.credentialSet || '', status_code: 404,\n    response_time_ms: Date.now() - startTime\n  });\n  return JSON.stringify({ error: `Domain '${domain}' not found or disabled`, request_id: requestId });\n}\n\n// Check if this is a Tier 1 domain with a handler workflow — those should use execute_action\nif (domainRow.handler_workflow_id && domainRow.auth_type === 'oauth') {\n  return JSON.stringify({ \n    error: `Domain '${domain}' is a governed Tier 1 domain — use execute_action instead of execute_passthrough`,\n    hint: 'execute_passthrough is for Tier 3 API-key domains only',\n    request_id: requestId \n  });\n}\n\n// --- Step 2: Validate endpoint against capability_catalog ---\nconst catalogTableId = $vars.CAPABILITY_CATALOG_TABLE_ID;\nif (!catalogTableId) {\n  return JSON.stringify({ error: 'Gateway configuration error: CAPABILITY_CATALOG_TABLE_ID missing', request_id: requestId });\n}\n\nlet catalogRows;\ntry {\n  catalogRows = await fetchAllRows.call(this, catalogTableId);\n} catch (e) {\n  // Fail-closed: if catalog unavailable, deny\n  return JSON.stringify({ error: 'Failed to query capability catalog: ' + e.message, request_id: requestId });\n}\n\nconst catalogRow = catalogRows.find(r => r.domain === domain);\nif (!catalogRow) {\n  await logAudit.call(this, {\n    request_id: requestId, client_id: authResult.clientId, domain,\n    action_or_endpoint: `${method} ${path}`, method, decision: 'denied',\n    denial_reason: `No catalog entry for domain '${domain}'`,\n    credential_set: authResult.credentialSet || '', status_code: 404,\n    response_time_ms: Date.now() - startTime\n  });\n  return JSON.stringify({ error: `No catalog entry for domain '${domain}'`, request_id: requestId });\n}\n\nlet endpoints = [];\ntry {\n  endpoints = JSON.parse(catalogRow.endpoints || '[]');\n} catch (e) {\n  return JSON.stringify({ error: `Failed to parse catalog endpoints for ${domain}`, request_id: requestId });\n}\n\n// Path matching: exact match first, then pattern match for {param} placeholders\nconst normalizedPath = pathCheck.path; // Already validated and normalized\nconst matchedEndpoint = endpoints.find(e => {\n  if (e.method !== method) return false;\n  // Exact match\n  if (e.path === normalizedPath) return true;\n  // Pattern match: replace {param} with regex [^/]+\n  const pattern = e.path.replace(/\\{[^}]+\\}/g, '[^/]+');\n  const regex = new RegExp('^' + pattern + '$');\n  return regex.test(normalizedPath);\n});\n\nif (!matchedEndpoint) {\n  await logAudit.call(this, {\n    request_id: requestId, client_id: authResult.clientId, domain,\n    action_or_endpoint: `${method} ${path}`, method, decision: 'denied',\n    denial_reason: `Endpoint ${method} ${path} not in catalog for '${domain}'`,\n    credential_set: authResult.credentialSet || '', status_code: 403,\n    response_time_ms: Date.now() - startTime\n  });\n  return JSON.stringify({ \n    error: `Endpoint ${method} ${path} not in catalog for '${domain}'`,\n    hint: 'Use list_capabilities to see available endpoints',\n    request_id: requestId \n  });\n}\n\n// Check executable flag\nif (!matchedEndpoint.executable) {\n  await logAudit.call(this, {\n    request_id: requestId, client_id: authResult.clientId, domain,\n    action_or_endpoint: `${method} ${path}`, method, decision: 'denied',\n    denial_reason: `Endpoint ${method} ${path} is not executable (documentation only)`,\n    credential_set: authResult.credentialSet || '', status_code: 403,\n    response_time_ms: Date.now() - startTime\n  });\n  return JSON.stringify({ \n    error: `Endpoint ${method} ${path} is not executable (documentation only)`,\n    request_id: requestId \n  });\n}\n\n// F1: Unified 3-tier permission check (post-catalog, with risk_level)\nconst riskLevel = matchedEndpoint.risk_level || 'low';\nconst permCheck = checkPermission(authResult.permissionLevel, method, riskLevel);\nif (!permCheck.allowed) {\n  await logAudit.call(this, {\n    request_id: requestId, client_id: authResult.clientId, domain,\n    action_or_endpoint: `${method} ${path}`, method, decision: 'denied',\n    denial_reason: permCheck.reason,\n    credential_set: authResult.credentialSet || '', status_code: 403,\n    response_time_ms: Date.now() - startTime\n  });\n  return JSON.stringify({ error: permCheck.reason, code: 403, request_id: requestId });\n}\n\n// --- Step 3: Build safe URL ---\nconst baseUrl = domainRow.base_url;\nconst urlResult = buildSafeUrl(baseUrl, normalizedPath);\nif (urlResult.error) {\n  return JSON.stringify({ error: urlResult.error, request_id: requestId });\n}\n\n// --- Step 4: Inject credentials ---\nconst requestHeaders = { ...extraHeaders };\n// Don't let client override auth headers\ndelete requestHeaders['Authorization'];\ndelete requestHeaders['authorization'];\ndelete requestHeaders['x-api-key'];\ndelete requestHeaders['X-Api-Key'];\n\nconst authType = domainRow.auth_type;\nconst authHeader = domainRow.auth_header || '';\nconst authPrefix = domainRow.auth_prefix || '';\nconst credentialVar = domainRow.credential_var || '';\n\n// Build query params for passthrough\nlet finalQueryParams = { ...queryParams };\n\nif (authType === 'none') {\n  // No auth needed (e.g., Ollama via Tailscale)\n} else if (authType === 'query') {\n  // API key in query param (Gemini, SEMrush)\n  const apiKeyValue = credentialVar ? $vars[credentialVar] : null;\n  if (!apiKeyValue) {\n    return JSON.stringify({ \n      error: `Credentials not configured for domain '${domain}' (variable: ${credentialVar || 'none'})`,\n      request_id: requestId \n    });\n  }\n  // For Gemini: key param; for SEMrush: key param\n  finalQueryParams['key'] = apiKeyValue;\n} else if (authType === 'header' || authType === 'api_key_header') {\n  const apiKeyValue = credentialVar ? $vars[credentialVar] : null;\n  if (!apiKeyValue) {\n    return JSON.stringify({ \n      error: `Credentials not configured for domain '${domain}' (variable: ${credentialVar || 'none'})`,\n      request_id: requestId \n    });\n  }\n  const headerName = authHeader || 'Authorization';\n  if (authPrefix) {\n    requestHeaders[headerName] = authPrefix + ' ' + apiKeyValue;\n  } else {\n    requestHeaders[headerName] = apiKeyValue;\n  }\n} else if (authType === 'basic') {\n  // Basic auth (Gong) — credential_var points to access key, companion secret via naming convention\n  const accessKey = credentialVar ? $vars[credentialVar] : null;\n  // Try multiple naming patterns for the secret key variable:\n  //   GONG_ACCESS_KEY_KAHUNA -> GONG_SECRET_KEY_KAHUNA, CRED_GONG_KAHUNA\n  const secretCandidates = [\n    credentialVar ? credentialVar.replace('ACCESS_KEY', 'SECRET_KEY') : '',\n    credentialVar ? 'CRED_' + credentialVar.replace('_ACCESS_KEY', '').replace(/_KAHUNA$/, '_KAHUNA') : '',\n    credentialVar ? 'CRED_' + domain.toUpperCase() + '_' + (credentialVar.split('_').pop() || '') : ''\n  ].filter(Boolean);\n  let secretKey = '';\n  for (const candidate of secretCandidates) {\n    if ($vars[candidate]) { secretKey = $vars[candidate]; break; }\n  }\n  if (!accessKey) {\n    return JSON.stringify({ \n      error: `Credentials not configured for domain '${domain}' (variable: ${credentialVar || 'none'})`,\n      request_id: requestId \n    });\n  }\n  const basicAuth = Buffer.from(accessKey + ':' + secretKey).toString('base64');\n  requestHeaders['Authorization'] = 'Basic ' + basicAuth;\n} else if (authType === 'credential') {\n  // n8n managed credential (GitHub) — use the credential_id from registry\n  // For GitHub, the token is in a PAT variable\n  const githubPat = $vars.GITHUB_PAT || $vars.GITHUB_TOKEN || '';\n  if (!githubPat) {\n    return JSON.stringify({ \n      error: `Credentials not configured for domain '${domain}' (no GITHUB_PAT variable)`,\n      hint: 'Set GITHUB_PAT variable in n8n with a valid Personal Access Token',\n      request_id: requestId \n    });\n  }\n  requestHeaders['Authorization'] = 'Bearer ' + githubPat;\n} else {\n  return JSON.stringify({ \n    error: `Unsupported auth type '${authType}' for domain '${domain}'`,\n    request_id: requestId \n  });\n}\n\n// Add required headers for specific domains\nif (domain === 'anthropic') {\n  requestHeaders['anthropic-version'] = '2023-06-01';\n}\nif (domain === 'notion') {\n  requestHeaders['Notion-Version'] = '2022-06-28';\n}\nif (!requestHeaders['Content-Type'] && body) {\n  requestHeaders['Content-Type'] = 'application/json';\n}\n\n// --- Step 5: Forward request ---\nlet response;\ntry {\n  const httpConfig = {\n    method: method,\n    url: urlResult.url,\n    headers: requestHeaders,\n    returnFullResponse: true,\n    followRedirects: false,\n    timeout: 30000\n  };\n  \n  if (method !== 'GET' && method !== 'HEAD' && body) {\n    httpConfig.body = body;\n  }\n  \n  if (Object.keys(finalQueryParams).length > 0) {\n    httpConfig.qs = finalQueryParams;\n  }\n  \n  response = await this.helpers.httpRequest(httpConfig);\n} catch (httpError) {\n  const responseTime = Date.now() - startTime;\n  const errorStatus = httpError.statusCode || httpError.response?.statusCode || 0;\n  const errorBody = httpError.response?.body || httpError.message || 'Request failed';\n  \n  await logAudit.call(this, {\n    request_id: requestId, client_id: authResult.clientId, domain,\n    action_or_endpoint: `${method} ${normalizedPath}`, method, decision: 'allowed',\n    denial_reason: '', credential_set: authResult.credentialSet || '',\n    status_code: errorStatus, response_time_ms: responseTime\n  });\n  \n  // Return the upstream error to the client\n  return JSON.stringify({\n    request_id: requestId,\n    domain: domain,\n    status_code: errorStatus,\n    error: typeof errorBody === 'string' ? errorBody : JSON.stringify(errorBody),\n    response_time_ms: responseTime\n  });\n}\n\n// --- Step 6: Audit log ---\nconst responseTime = Date.now() - startTime;\nconst statusCode = response.statusCode || response.status || 200;\n\nawait logAudit.call(this, {\n  request_id: requestId, client_id: authResult.clientId, domain,\n  action_or_endpoint: `${method} ${normalizedPath}`, method, decision: 'allowed',\n  denial_reason: '', credential_set: authResult.credentialSet || '',\n  status_code: statusCode, response_time_ms: responseTime\n});\n\n// --- Step 7: Sanitize response ---\n// Strip any auth headers from response (shouldn't normally appear, but defense-in-depth)\nlet responseData = response.body || response.data || '';\nif (typeof responseData === 'string') {\n  try { responseData = JSON.parse(responseData); } catch(e) { /* keep as string */ }\n}\n\n// --- Step 8: Log cost for AI domains (F2) ---\nawait logCostForAI.call(this, domain, responseData, authResult.clientId);\n\n// --- Step 9: Return result ---\nreturn JSON.stringify({\n  request_id: requestId,\n  domain: domain,\n  endpoint: `${method} ${normalizedPath}`,\n  status_code: statusCode,\n  data: responseData,\n  response_time_ms: responseTime\n});\n"
        },
        "name": "execute_passthrough",
        "type": "@n8n/n8n-nodes-langchain.toolCode",
        "typeVersion": 1.2,
        "position": [
          900,
          400
        ],
        "id": "763334cd-8e9e-404f-83d6-474bfdee98c2"
      }
    ],
    "connections": {
      "list_domains": {
        "ai_tool": [
          [
            {
              "node": "MCP Gateway Trigger",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "list_actions": {
        "ai_tool": [
          [
            {
              "node": "MCP Gateway Trigger",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "get_action_schema": {
        "ai_tool": [
          [
            {
              "node": "MCP Gateway Trigger",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "execute_action": {
        "ai_tool": [
          [
            {
              "node": "MCP Gateway Trigger",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "get_health": {
        "ai_tool": [
          [
            {
              "node": "MCP Gateway Trigger",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "get_cost_summary": {
        "ai_tool": [
          [
            {
              "node": "MCP Gateway Trigger",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "list_capabilities": {
        "ai_tool": [
          [
            {
              "node": "MCP Gateway Trigger",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "execute_passthrough": {
        "ai_tool": [
          [
            {
              "node": "MCP Gateway Trigger",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "saveManualExecutions": true,
      "callerPolicy": "any",
      "errorWorkflow": "4l0H7MgNyOHbYPbO",
      "availableInMCP": false
    }
  }
}